
@import "http://fonts.googleapis.com/css?family=Fjalla+One";
.clearfix {
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
body {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #34495e;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
   
}
body h1, body h2, body h3, body h4, body .created {
    font-family: "Fjalla One";
    font-weight: normal;
}
body h5, body h6 {
    margin: 0;
}
body h3, body h4 {
    margin-top: 0;
}


.homeless{
    float: left;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;


}
.btn {
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.btn.btn-transparent {
    background: transparent none repeat scroll 0 0;
    border: 3px solid #fff;
    color: #fff;
}
.btn.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.btn.btn-link {
    color: #2dcc70;
    padding: 0;
}
.btn.btn-link:hover {
    text-decoration: none;
}
.btn-primary {
    background-color: #ED253C;
}
.btn-primary:hover {
    background-color: #24a259;
}
a {
    color: #333333;
    transition: all 300ms ease 0s;
}
a:hover, a:focus {
    color: #005580;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

body > header {
    height: 110px;

}

body > section {
    padding: 20px;
}
body > section#slide-show {
    padding: 0;

}

body > section#bannerArea {
    height: 266px;
    margin: 0;
    padding: 0;

}
  
#recent-works {
    background: #ffffff none repeat scroll 0 0;
    color: #333;

}
#recent-works .links > a {
    background: #fff none repeat scroll 0 0;
    color: #2dcc70;
    text-shadow: none;
}





#new-concept {
    background: #ffffff none repeat scroll 0 0;
    color: #333;
    font-size: 13px;
}
#new-concept .links > a {
    background: #fff none repeat scroll 0 0;
    color: #2dcc70;
    text-shadow: none;
}




#clients {
    background: #f0f0f0 none repeat scroll 0 0;
}
#clients h4 {
    color: #999;
}
#clients .carousel {
    margin-bottom: 0;
}
#clients .clients ul.thumbnails {
    margin: 0;
}
#clients .clients ul.thumbnails > li {
    margin-bottom: 0;
    text-align: center;
}
#clients .prev, #clients .next {
    color: #999;
}
.title {
    background: #003461 none repeat scroll 0 0;
    color: #fff;
    padding: 20px 0;
}
.center {
    text-align: center;
}
.box {
    background-color: #fff;
    border-radius: 4px;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.progress {
    margin-bottom: 10px;
}
.progress, .progress .bar {
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
    text-shadow: none;
}
.label, .badge {
    font-size: 90%;
    font-weight: 300;
}
ul.breadcrumb {
    background: transparent none repeat scroll 0 0;
    margin: 12px 0 0;
}
ul.breadcrumb > li {
    text-shadow: none;
}
ul.breadcrumb > li > a, ul.breadcrumb > li .divider {
    color: #fff;
}
ul.breadcrumb > li.active {
    color: rgba(255, 255, 255, 0.7);
}
ul.tag-cloud li {
    display: inline-block;
    margin: 0 0 2px;
}
.uppercase{
    text-transform: uppercase;
}
.btn-social {
    border: 0 none;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.btn-social.btn-facebook {
    background: #4f7dd4 none repeat scroll 0 0;
}
.btn-social.btn-facebook:hover {
    background: #789bde none repeat scroll 0 0;
}
.btn-social.btn-twitter {
    background: #5bceff none repeat scroll 0 0;
}
.btn-social.btn-twitter:hover {
    background: #8eddff none repeat scroll 0 0;
}
.btn-social.btn-linkedin {
    background: #21a6d8 none repeat scroll 0 0;
}
.btn-social.btn-linkedin:hover {
    background: #49b9e3 none repeat scroll 0 0;
}
.btn-social.btn-google-plus {
    background: #dc422b none repeat scroll 0 0;
}
.btn-social.btn-google-plus:hover {
    background: #e36957 none repeat scroll 0 0;
}
.btn-social:hover {
    color: #fff;
}
header.navbar .navbar-inner {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 none;
    box-shadow: none;
}
header #logo {
/*    background: rgba(0, 0, 0, 0) url("../images/sample/bdkernellogo.png") no-repeat scroll 0 50%;
    height: 60px;
    width: 220px;*/
    padding: 10px;
}
header.navbar {
    margin-bottom: 0;
}
header.navbar .nav {
    margin-top: 20px;
}
header.navbar .nav > li {
    margin-left: 1px;
}
header.navbar .nav > li > a {
    color: #333;
    font-family: "Fjalla One";
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: none;
    text-transform: uppercase;
}
header.navbar .nav > li > a:hover {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #ed283b;
}
header.navbar .nav > li.active > a, header.navbar .nav > li.active > a:hover {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #ed283b;
}
header.navbar .nav > li.dropdown.open > a.dropdown-toggle {
    background: transparent none repeat scroll 0 0;
    color: #2dcc70;
}
header.navbar .nav > li.login > a {
    border-left: 1px solid #e5e5e5;
}
header .dropdown-menu {
    margin-top: 20px;
}
header .dropdown-menu::before {
    display: none !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #2dcc70;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #2dcc70;
}
.dropdown-menu {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: #24a259 none repeat scroll 0 0;
}
.main-info {
    background-color: #fff;
    color: #999;
}
.main-info h4 {
    color: #999;
}
.icon-medium {
    background: #ed283b none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    text-align: center;
    width: 18px;
}
.modal {
    border: 0 none;
}
#loginForm.modal {
    margin-left: -300px;
    width: 600px;
}
.modal .modal-header {
    border: 0 none;
    padding: 20px 20px 0;
}
.modal .modal-header > h4 {
    color: #848484;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.modal .modal-body {
    padding: 20px;
}
.modal input[type="text"], .modal input[type="password"] {
    margin-right: 10px;
    min-height: 30px;
    padding: 5px 10px;
    width: 130px;
}
.modal .icon-remove {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 100%;
    color: #848484;
    cursor: pointer;
    display: block;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 16px;
}
.modal button {
    border: 0 none;
    margin-left: 10px;
}
.gap {
    margin-bottom: 30px;
}
.big-gap {
    margin-bottom: 100px;
}
.no-margin {
    margin: 0;
    padding: 0;
}
#services {
    background: #fff none repeat scroll 0 0;
    color: #333;

}

#process-service {
    background: #f0f0f0 none repeat scroll 0 0;
    color: #333;

}
#process-service h1, #process-service h2, #process-service h3, #process-service h4, #process-service h5, #process-service h6 {
    color: #333;
}

#services h1, #services h2, #services h3, #services h4, #services h5, #services h6 {
    color: #333;
}
#main-contents {
    margin-top: 20px;
}
#main-contents .blog-news .created {
    color: #2dcc70;
    font-size: 18px;
}
.registration-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #f0f0f0 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 20px;
}
#bottom {
    background: #232323 none repeat scroll 0 0;
    color: #6f6f6f;
}
#bottom h4 {
    margin-bottom: 15px;
    margin-top: 0;
}
#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6 {
    color: #fff;
}
#bottom a {
    color: #6f6f6f;
}
#bottom a:hover {
    color: #2dcc70;
}
#bottom ul.address > li {
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}
#bottom ul.address > li:first-child {
    margin-top: 0;
}
#bottom ul.address > li > i {
    left: 0;
    position: absolute;
    top: 3px;
}
#bottom ul.thumbnails {
    margin-bottom: 0;
}
#bottom ul.thumbnails li {
    margin-bottom: 5px;
}
ul.arrow, ul.arrow-double, ul.tick, ul.cross, ul.star, ul.rss {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.arrow li::before, ul.arrow-double li::before, ul.tick li::before, ul.cross li::before, ul.star li::before, ul.rss li::before, ul.arrow li::after, ul.arrow-double li::after, ul.tick li::after, ul.cross li::after, ul.star li::after, ul.rss li::after {
    font-family: FontAwesome;
    font-size: 11px;
}
ul.arrow li::before, ul.arrow-double li::before, ul.tick li::before, ul.cross li::before, ul.star li::before, ul.rss li::before {
    margin-right: 5px;
}
ul.arrow li::before {
    /*content: "";*/
}
ul.arrow-double li::before {
    content: "";
}
ul.tick li::before {
    content: "";
}
ul.cross li::before {
    content: "";
}
ul.star li::before {
    content: "";
}
ul.rss li::before {
    content: "";
}
#footer {
    background: #333 none repeat scroll 0 0;
    color: #666;
    padding-bottom: 15px;
    padding-top: 15px;
}
.footer a {
    color: #666;
}
.footer a:hover {
    color: #2dcc70;
}
.footer #gototop {
    background: #1d1d1d none repeat scroll 0 0;
    color: #ED253C !important;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.footer #gototop:hover {
    background: #2b2b2b none repeat scroll 0 0;
    text-decoration: none;
}
.footer .cp {
    margin-top: 11px;
}
ul.social {
    display: inline-block;
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0;
}
ul.social > li {
    display: inline-block;
    margin: 0 5px;
}
ul.social > li > a {
    color: #666;
    font-size: 24px;
}
ul.social > li > a:hover {
    color: #999;
}
.box-border {
    padding: 15px;
}
.accordion-group {
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
}
.accordion-heading .accordion-toggle {
    color: #666;
    font-weight: 700;
}
.accordion-inner {
    border-top: 0 none;
}
.blog .blog-item h2 {
    margin-top: 0;
}
.blog .blog-item .date span {
    display: block;
    text-align: center;
}
.blog .blog-item .date span.day {
    font-family: "Fjalla One",sans-serif;
    font-size: 50px;
    line-height: 50px;
    padding-top: 10px;
}
.blog .blog-item .date span.month {
    font-size: 18px;
}
.blog .blog-item .tag {
    margin-top: 5px;
}
.blog .blog-item .avatar {
    margin-top: 5px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 1px solid #898989;
    border-radius: 3px;
    box-shadow: none;
    min-height: 50px;
    padding: 0 15px;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #2dcc70;
    box-shadow: none;
}
.input-block-level {
    min-height: 50px;
}
textarea#message {
    height: 219px;
    padding: 10px 15px;
}
.widget {
    margin-bottom: 30px;
}
.widget > h3 {
    font-size: 16px;
    margin-top: 0;
}
.widget h5 {
    margin-top: 10px;
}
.widget .date {
    background: #2dcc70 none repeat scroll 0 0;
    margin-top: 5px;
    padding: 8px 10px;
}
.widget .date > span {
    color: #fff;
    display: block;
    font-family: "Fjalla One";
    text-align: center;
}
.widget .date > span.month {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
}
.widget .date > span.day {
    font-size: 18px;
    line-height: 18px;
}
#pricing-table {
    margin-bottom: 30px;
    margin-top: 20px;
}
#pricing-table .plan {
    color: #fff;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#pricing-table .plan.featured {
    transform: scale(1.1);
}
#pricing-table .plan > li {
    padding: 10px 15px;
}
#pricing-table .plan > li.plan-name {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
#pricing-table .plan > li.plan-name h3 {
    margin: 10px 0;
}
#pricing-table .plan > li.plan-action {
    padding: 20px 0;
}
#pricing-table .plan1 {
    background: #1abc9c none repeat scroll 0 0;
}
#pricing-table .plan2 {
    background: #e74c3c none repeat scroll 0 0;
}
#pricing-table .plan3 {
    background: #3498db none repeat scroll 0 0;
}
#pricing-table .plan4 {
    background: #9b59b6 none repeat scroll 0 0;
}
ul.gallery {
    display: block;
    margin: -15px;
}
ul.gallery.col-1 li {
    width: 100%;
}
ul.gallery.col-2 li {
    width: 50%;
}
ul.gallery.col-3 li {
    width: 33.3333%;
}
ul.gallery.col-4 li {
    width: 25%;
}
ul.gallery li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
ul.gallery li .desc {
    margin: 15px;
}
ul.gallery li .preview {
    display: block;
    margin: 15px;
    position: relative;
    border-radius: 5px;
    padding: 3px;
    border: thin solid #ED253C;
}
ul.gallery li .preview .overlay {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 300ms ease 0s;
    width: 100%;
     border-radius: 5px;
}
ul.gallery li .preview .links {
    height: 40px;
    left: 50%;
    margin-left: -52px;
    margin-top: -20px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50px);
    transition: all 300ms ease 0s;
    width: 104px;
}
ul.gallery li .preview .links > a {
    background: #2dcc70 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0 1px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    width: 50px;
}
ul.gallery li .preview:hover .overlay, ul.gallery li .preview:hover .links {
    opacity: 1;
}
ul.gallery li .preview:hover .links {
    transform: translate(0px, 0px);
}
ul.faq {
    list-style: outside none none;
    margin: 0;
}
ul.faq li {
    margin-top: 30px;
}
ul.faq li:first-child {
    margin-top: 0;
}
ul.faq li span.number {
    background: #2dcc70 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
ul.faq li > div {
    margin-left: 70px;
}
ul.faq li > div h3 {
    margin-top: 0;
}
#error {
    margin-bottom: 150px;
    margin-top: 150px;
    text-align: center;
}

.text-justify {
  text-align: justify;
}



/***********************Tushar Kumar Ghosh****************************/

.media .media-heading a {
    color: #333333;
    transition: all 300ms ease 0s;
}
.media .media-heading a:hover, .media .media-heading a:focus {
    color: #003461;
    outline: 0 none;
    text-decoration: none;
}



.topHeader {
    background: #333 none repeat scroll 0 0;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 0;
    text-align: right;
    width: 100%;
}


.topHeaderBlock {
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 30px;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
}
.topHeader .btn {
    background: #ED253C  none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding: 5px 0 5px 15px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 195px;
}
.topHeader .btn-sm {
    width: 130px;
}
.topHeader .btn::before {
    border-color: transparent #ED253C  transparent transparent;
    border-style: solid;
    border-width: 40px 40px 0px 0;
    content: "";
    display: inline-block;
    height: 0;
    left: auto;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
}
.topHeader .hirebtn::before {
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 40px 40px 0 0;
    content: "";
    display: inline-block;
    height: 0;
    left: auto;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
}
.topHeader .btn .fa {
    font-size: 17px;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 23px;
}
.topHeader .hirebtn {
    background: #000 none repeat scroll 0 0;
    padding-left: 30px;
}
.topHeader .top-menu {
    display: inline-block;
    margin-right: 40px;
}
.topHeader .top-menu ul {
    margin: 0;
    padding: 0;
}
.topHeader .top-menu ul li {
    border-right: 1px solid #fff;
    display: inline-block;
    list-style: outside none none;
}
.topHeader .top-menu ul li:last-child {
    border-right: 0 none;
}
.topHeader .top-menu ul li a {
    color: #fff;
    display: block;
    padding: 11px 15px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}
.topHeader .top-menu ul li a:hover {
    color: #ED253C;
}



#logo {
    box-sizing: border-box;
    float: left;
    height: auto;
    line-height: 0;
    text-align: left;
}
#logo img {
    max-width: 185px;
}
.bottomHeader {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: auto;
    padding: 5px 0;
    width: 100%;
    z-index: 9;
}

.fixed {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding-right: 15px;
}

.bottomHeaderBlock {
    box-sizing: border-box;
    color: #333;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 30px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
}
.nav-icon {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 6px;
    color: #fff;
    display: none;
    height: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 14px;
    width: 36px;
}
.nav-icon::before, .nav-icon::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 20px;
}
.nav-icon::before {
    top: 11px;
}
.nav-icon::after {
    top: 21px;
}
.nav-icon span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin: 16px auto;
    transition: all 0.5s ease-in-out 0s;
    width: 20px;
}
.nav-icon.active span {
    opacity: 0;
    visibility: hidden;
}
.nav-icon.active::before {
    margin-top: 5px;
    transform: rotate(45deg);
}
.nav-icon.active::after {
    margin-top: -5px;
    transform: rotate(-45deg);
}
.mainNav {
    font-size: 0;
    list-style-type: none;
    margin: 18px 0;
    padding: 0;
}
.mainNav li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
.mainNav li a {
    border-bottom: 1px solid transparent;
    color: #333;
    display: inline-block;
    font-size: 12px !important;
    font-weight: bold !important;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.mainNav li.active a {
    border-bottom: 1px solid #ED253C;
}
.mainNav li.quote a {
    border: 1px solid #ED253C;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    padding: 0 10px;
    transition: all 0.5s ease-in-out 0s;
}
.mainNav li.quote a:hover {
    background: rgb(235, 87, 12) none repeat scroll 0 0;
    color: #fff;
}
.mainNav li a:hover {
    border-bottom: 1px solid #d71920 ;
}
#services hr {
    border: none;
    height: 1px;
    color: #ED253C; 
    background-color: #ED253C; /* Modern Browsers */
}

h1, h2, h3 {
    line-height: 25px;
}


.bannerArea {
    float: left;
    height: auto;
    width: 100%;
    padding: -0px;
}
.bannerArea video {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.bannerArea video {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}
#owl-banner .owl-item .item {
    line-height: 0;
}
#owl-banner .owl-item .item img {
    max-width: 100%;
    width: 100%;
}
.bannerBlock {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    font-size: 0;
    height: auto;
    padding: 100px 0;
    position: relative;
    width: 100%;
}
.bannerBlock::before {
    background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.bannerBlock .container {
    position: relative;
    z-index: 1;
}
.bannerBlock .bannnerOneFourthBlock {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 30px;
    vertical-align: middle;
    width: 66.6667%;
}
.bannerBlock .bannnerQuaterBlock {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    width: 33.3333%;
}
.bannerTitle {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.bannerTitle::before {
    background: #ED253C none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 215px;
}
.bannerTitle::after {
   /* background: #ED253C none repeat scroll 0 0;
    content: "";
    height: 6px;
    left: 20px;
    margin-top: -2px;
    position: absolute;
    top: 100%;
    width: 80px;
    z-index: 9;*/
}



.innerServiceList {
    float: left;
    font-size: 0;
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
}
.innerServiceList li {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 10px;
    vertical-align: top;
    width: 25%;
}
.innerServiceList li span {
    box-sizing: border-box;
    color: #787878;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding-left: 80px;
    position: relative;
    text-align: left;
}
.innerServiceList li i.fa {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    height: 56px;
    left: 0;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 56px;
}
.innerServiceList li .icon {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 24px;
    height: 56px;
    left: 0;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 56px;
}
.innerServiceList li .icon img {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}
.innerServiceList li h5 {
    color: #333;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}
.innerStepSection {
    /*background-image: url("../images/innerstep.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #ffffff;
    float: left;
    height: auto;
    padding: 50px 0;
    width: 100%;
}
.innerStepArea {
    float: left;
    height: auto;
    /*width: 66.6667%;*/
}
.innerStepList {
    float: left;
    font-size: 0;
    list-style-type: none;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.innerStepList li {
   /* border-bottom: 1px solid #ED253C;*/
    box-sizing: border-box;
    display: inline-block;
   /* margin: 0 10px 30px;*/
    vertical-align: top;
    width: 50%;
    padding: 10px;
}
.innerStepList li p {
  /*  padding-bottom: 2px;*/
    padding-left: 35px;
    position: relative;
}
.innerStepList li p::before {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 6px;
    margin-left: 20px;
}
.innerStepList li span {
    box-sizing: border-box;
   /* color: #787878;*/
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
}
.innerStepList li i.fa {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 20px;
}
.innerStepList li h5 {
    color: #333;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 10px;
}

.innerStepList li:hover {
    background-color: #f0f0f0;
}



.devProcess {
    background-color: #f0f0f0;
    float: left;
    height: auto;
    padding: 50px 0;
    width: 100%;
}

 .devProcess ul.thumbnails {
    margin: 0;
}
 .devProcess ul.thumbnails > li {
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}




.our-process-wrap {
    background: rgba(0, 0, 0, 0) url("../images/ourprocess.png") no-repeat scroll left top / contain ;
    display: table;
    padding: 84px 40px 0;
}
.our-process {
    border-bottom: 1px dashed #e0e0e0;
    height: 62px;
    overflow: visible;
    position: relative;
    z-index: 11;
}
.our-process::before, .our-process::after {
    bottom: -4px;
    color: #ccc;
    content: "";
    font-family: "FontAwesome";
    font-size: 16px;
    left: -8px;
    position: absolute;
}
.our-process::after {
    bottom: -11px;
    content: "";
    left: auto;
    right: -8px;
}
.our-process-item {
    display: table-cell;
    padding: 0 10px;
    text-align: center;
}
.our-process-item .our-process-content {
    text-align: center;
}
.our-process-item i {
    background: #ffffff none repeat scroll 0 0;
    border: 3px solid #f4f3f3;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.016);
    clear: both;
    color: #52535c;
    display: inline-block;
    font-size: 32px;
    height: 120px;
    position: relative;
    text-shadow: none;
    transition: all 0.33s ease-in-out 0s;
    width: 120px;
    border-color: #787878;
    color: #787878;
}

.our-process-item i:after {
    border: 1px solid #dddddd;
    border-radius: 50%;
    content: " ";
    height: 145px;
    width: 145px;

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.our-process-item i:before {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.our-process-item:hover i {
    border-color: #ED253C;
    color: #ED253C;
}


.our-process-item h4 {
    font-size: 15px;
    margin: 34px 0 25px;
    /*text-transform: uppercase;*/
}
.our-process-item p {
    font-size: 13px;
    line-height: 1.6;
    padding: 0 15px;
}

.bottom {
    background: #232323 none repeat scroll 0 0;
    color: #6f6f6f;
    float: left;
    height: auto;
    padding: 0px;
    width: 100%;
}

.footer{
     background: #333 none repeat scroll 0 0;
    color: #666;
   /* padding-bottom: 15px;
    padding-top: 15px;*/
    float: left;
    height: auto;
    width: 100%;
}





 .bottom .title-block {
    border-bottom: 1px solid #e1e1e1;
    margin: 0 0 15px;
    padding: 0 0 12px !important;
    position: relative;
    color: #e1e1e1;
}

.bottom #tweets  ul li{
    margin-bottom: 2px;
    padding-bottom: 2px;
   
}
.bottom #tweets  ul li a{
     color: #6f6f6f !important;
}
.bottom #tweets  ul li a:hover{
     color: #e1e1e1 !important;
}





.career{
    /*padding-left: 30px;
    padding-right: 30px;*/
    padding-top: 30px;
}

.career  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.career li  {
  /*  padding-bottom: 2px;*/
    padding-left: 35px;
    position: relative;
}

.career li::before {
    background: #ED253C none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 6px;
    margin-left: 20px;
}
.career .span2{

    margin-left: 0px;

}


.career .anchor{

    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.contact .span8{

    padding-top: 30px;
    padding-bottom: 30px;
}
.contact .span3{

    padding-top: 50px;
    padding-bottom: 30px;
}


.lead{
    font-size: 12px;
    line-height:20px;
}

.preview img{

    border-radius: 5px;
    width: 100%;
}


.bx-wrapper{
    border: 0px solid #fff;
}








.about-main {
}
.about-main .row {
}
.about-main .row ul li {
    color: #5f5f5f;
    /*font-size: 15px;*/
    list-style: disc;
    margin-left: 20px;
}
.about-main h2 {
    margin: 0 0 40px;
    text-transform: uppercase;
}
.about-main .grid-2 {
    float: left;
    width: 510px;
}
.about-main .grid-2 p {
    color: #5f5f5f;
    /*font-size: 15px;*/
}
.about-main .grid-2-1 {
    float: right;
    width: 430px;
}
.grid-2-1 .grid-3 {
    background: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/lineAbout.png") repeat-y scroll 45px 0 rgba(0, 0, 0, 0);
    min-height: 110px;
    padding-bottom: 20px;
}
.about-main .grid-2-1 .grid-3:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#filterAbout .description {
    display: table;
    text-align: left;
}
#filterAbout h4 {
    color: #ED253C;
    font-family: "ralewaysemibold",sans-serif;
   /* font-size: 15px;*/
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: -3px;
}
#filterAbout h4 a {
    color: #ED253C;
    cursor: default;
}
#filterAbout p {
    color: #5f5f5f;
  /*  font-size: 13px;*/
    line-height: 18px;
}

#filterAbout .ico {
    float: left;
    height: 89px;
    margin: 0 20px 0 0;
    width: 89px;
}

#filterAbout .ico a {
    background-color: #fff;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border: 2px solid #a8a8a8;
    border-radius: 50%;
    cursor: default;
    display: block;
    height: 85px;
    width: 85px;
}

#filterAbout .ico a:hover {
    background-position: 50% 100%;
    border: 2px solid #ED253C;
}

.discover-Block .ico a {
    background-image: url("../images/sample/slide-image/light.png");
}
.design-Block .ico a {
    background-image: url("../images/sample/slide-image/editor.png");
}
.development-Block .ico a {
    background-image: url("../images/sample/slide-image/monitor.png");
}
.marketing-Block .ico a {
    background-image: url("../images/sample/slide-image/sub-merin.png");
}
.support-Block .ico a {
    background-image: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/icoA-05.png");
}
.define-Block .ico a {
    background-image: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/icoA-06.png");
}
.deploy-Block .ico a {
    background-image: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/icoA-07.png");
}
.speed-Block .ico a {
    background-image: url("");
}
.managerService-Block .ico a {
    background-image: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/icoA-09.png");
}
.ourWork-Block .ico a {
    background-image: url("http://www.forixwebdesign.com/wp-content/themes/fwd/images/icoA-10.png");
}








.bottom {
   /* background: #21252b none repeat scroll 0 0;
    float: left;
    height: auto;
     width: 100%;*/
    position: relative;
   
}
.bottom .container {
    position: relative;
    z-index: 2;
}
#map {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.footerBlock {
    background: #232323  none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    height: auto;
    max-width: 31%;
    padding: 50px 20px;
    /*margin: 10px 10px;*/
    width: 100%;
}
.footerTitle {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.footerTitle::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 200px;
}
.footerTitle::after {
    background: #eb570c none repeat scroll 0 0;
    content: "";
    height: 6px;
    left: 20px;
    margin-top: -2px;
    position: absolute;
    top: 100%;
    width: 80px;
    z-index: 9;
}
.footerIconBlock {
    box-sizing: border-box;
    color: #bababa;
    float: left;
    font-size: 13px;
    height: auto;
    line-height: 24px;
    margin-bottom: 15px;
    padding-left: 80px;
    position: relative;
    width: 100%;
}
.footerIconBlock:last-child {
    margin-bottom: 0;
}
.footerIconBlock i.fa {
    background: #eb570c none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    height: 56px;
    left: 0;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 56px;
}
.footerIconBlock h5 {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 10px;
}








 .keyconcept  p::before{    
     background: #ed253c none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    top: 8px;
    width: 6px;
}
 .keyconcept  p{
     padding-left: 35px;
    position: relative;
}


































































@media (max-width: 1150px) {
.mainNav li {
    padding: 0 6px;
}
#logo img {
    max-width: 150px;
}
.mainNav {
    margin: 14px 0;
}
}
@media (max-width: 1024px) {
.mainNav li a {
    font-size: 10px;
}
}
@media (max-width: 991px) {
.mainNav li a {
    font-size: 8px !important;
}
.our-process-item i {
    height: 80px;
    width: 80px;
}
.our-process-item i:after {
    height: 105px;
    width: 105px;
}

.testimonialSection > .container > .rightside {
    margin-top: 30px;
}
.testimonialSection > .container > div {
    margin: 0;
    padding: 0;
    width: 100%;
}
.testimonialSection > .container > .leftside {
    padding-bottom: 30px;
}
.testimonialSection > .container > .leftside::after {
    bottom: 0;
    height: 1px;
    top: auto;
    width: 100%;
}
.testimonialContent p {
    position: static;
    top: 0;
    transform: none;
}
.contactSection .contactForthBlock {
    margin-bottom: 30px;
    padding: 0 0 30px;
    width: 100%;
}
.contactSection .contactForthBlock::after {
    bottom: 0;
    height: 1px;
    top: auto;
    transform: rotate(0deg);
    width: 100%;
}
.contactSection {
    text-align: center;
}
.contactSection .logo-list li {
    font-size: 14px;
    width: 30%;
}
.contactSection .logo-list li img {
    height: 60px;
}
.contactSection .contactQuaterBlock {
    padding: 0;
    width: 100%;
}
.servicesPicBlock, .servicesContentBlock {
    display: block;
    vertical-align: top;
    width: 100%;
}
.servicesContentBlock {
    margin-top: 30px;
}

.servicesPicBlock .styledeclarations {
    display: none;
}
.element-item {
    width: 47%;
}
.element-item.viewmore {
    display: block;
    width: auto;
}
.innerServiceList li {
    width: 50%;
}
}
@media (min-width: 768px) and (max-width: 900px) {

.career .span2{
    display: none;
}

.our-process-item{
    display: block;
}

.our-process-item i {
    height: 50px;
    width: 50px;
}

.our-process-item i:after {
    height: 75px;
    width: 75px;
}

.mainNav li a {
    font-size: 10px !important;
}
#logo {
    /*margin: 11px 0;*/
    width: auto;
}
#logo img {
    max-width: 150px;
}
.mainNav {
    margin: 15px 0;
}
.mainNav li {
    padding: 0 4px;
}
.mainNav li.quote a {
    padding: 0 4px;
}
}
@media (max-width: 767px) {

.career .span2{
    display: none;
}

.topHeader{
    height: 40px;
    font-size: 9px;
    
}


.homeless{
    padding-top:10px;
}


.bannerBlock .bannnerOneFourthBlock {
    width: 100%;
}
.mainNav li a {
    font-size: 11px;
}
.career_apply form {
    margin: 0;
}
.career_apply .from-grid, .career_apply .from-grid-full {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.inputfile + label {
    padding: 11px 10px;
}
.career_apply .form-control {
    font-size: 14px;
    height: 36px;
}
.career_apply textarea {
    font-size: 14px;
}
.topHeader .btn.btn-sm {
    width: 110px;
}
.topHeader .btn .fa {
    left: -9px;
    width: 23px;
}
.topHeader .hirebtn, .topHeader .btn {
    padding-left: 19px;
    width: 180px;
}
.certicicate-logo ul li {
    padding: 0 5px;
}
.innerStepArea {
    width: 100%;
}
.innerStepList li {
    width: 100%;
}
.innerServiceList li {
    width: 100%;
}
.sectionTitle, .contactTitle, .footerTitle {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}
.sectionTitle::before, .contactTitle::before, .footerTitle::before {
    left: 0;
    margin: auto;
    right: 0;
}
.sectionTitle::after, .contactTitle::after, .footerTitle::after {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
.copyright, .socialIcon {
    text-align: center;
    width: 100%;
}
.copyright {
    margin-bottom: 10px;
}
#map {
    height: 300px;
    position: relative;
}
.footerBlock {
    max-width: 100%;
    width: 100%;
}
.clientList li {
    float: none;
    max-width: 100%;
    vertical-align: top;
    width: 33.3333%;
}
.clientContentBlock {
    float: none;
    max-width: 100%;
    text-align: center;
    width: 100%;
}
.servicesArea, .stepSection, .contactSection, .portfolioSection, .innerStepSection {
    padding: 30px 0;
}
.clientSection {
    padding-top: 30px;
}
.clientContentBlock h2, .clientContentBlock h3 {
    font-size: 40px;
    line-height: 1;
}
.clientLeftSection {
    display: block;
  /*  font-size: 20px;*/
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
}
.clientList li.clear {
    clear: none;
}
.clientRightSection {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.formHalfBlock {
    width: 100%;
}
.testimonialContent {
    height: auto !important;
}
.contactSection .contactForthBlock, .contactSection .contactQuaterBlock {
    width: 100%;
}
.element-item, .element-item.viewmore {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.serviceList li, .stepList li {
    width: 100%;
}
.nav-icon {
    display: block;
    margin-right: 10px;
}
#logo {
    margin-left: 10px;
}
#logo img {
    max-width: 150px;
}
.mainNav {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 12px 18px rgba(0, 0, 0, 0.23);
    display: none;
    height: auto;
    left: 0;
    margin: 0;
    padding: 0 0 10px;
    position: absolute;
    text-align: left;
    top: 60px;
    width: 100%;
    z-index: 10;
}
.mainNav li a {
    display: block;
    padding: 6px 0;
}
.mainNav li {
    display: block;
    padding: 0 10px;
}
.mainNav li a {
    display: block;
}
.bottomHeader .container {
    padding: 0;
}
}

@media (max-width: 600px) {
ul.gallery.col-4 li {
    width: 100%;
    text-align: center;
}
.career .span2{
    display: none;
}

.certicicate-logo ul li img {
    height: 43px;
}
.certicicate-logo ul li {
    padding: 0 2px;
}
.topHeader .top-menu {
    margin-right: 20px;
}
.topHeader .top-menu ul li a {
    padding: 11px 5px;
}
.topHeader .hirebtn, .topHeader .btn {
    padding-left: 6px;
}
.topHeader .btn {
    font-size: 12px;
    width: 143px;
}
.topHeader .btn .fa {
    font-size: 14px;
    height: 30px;
    left: -14px;
    width: 17px;
}
.topHeader .btn img {
    height: 12px;
}
}


@media (max-width: 420px) {

.topHeader{
    height: 52px ;
    font-size: 10px;
    
}

.homeless{
    padding-top:0px;
}

    ul.gallery.col-4 li {
    width: 100%;
    text-align: center;
}

.career .span2{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}


.our-process-item i {
    height: 120px;
    width: 120px;
}
.our-process-item i:after {
    height: 145px;
    width: 145px;
}

.career .span2{
    display: none;
}


.topHeader .top-menu {
    margin-right: 10px;
}
.topHeader .top-menu ul li a {
    padding: 11px 5px;
}
.topHeader .hirebtn, .topHeader .btn, .topHeader .btn.btn-sm {
    float: left;
    line-height: 1.1;
    padding: 10px 0;
    text-align: center;
    width: 33.3333%;
}
.topHeader .btn .fa {
    display: block;
    font-size: 14px;
    height: 15px;
    left: 0;
    line-height: 1;
    margin: auto;
    position: static;
    right: 0;
    width: 17px;
}
.topHeader .btn img {
    display: block;
    margin: 0 auto 3px;
}
.topHeader .btn::before {
    display: none;
}
.certicicate-logo ul li img {
    height: 35px;
}
}






@media (max-width: 385px) {

#filterAbout h4{
    text-align: center;
}

.grid-2-1 .grid-3 {
    background: url("") repeat-y scroll 45px 0 rgba(0, 0, 0, 0);
    min-height: 110px;
    padding-bottom: 20px;
}

#filterAbout .ico {
    float: left;
    height: 89px;
    margin: 0 0px 0 0;
    width: 100%;
    margin-left: 28%;
    margin-bottom: 20px;

}

.our-process-item i {
    height: 120px;
    width: 120px;
}


ul.gallery.col-4 li {
    width: 100%;
    text-align: center;
}


.career{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}

.career .span2{
    display: none;
}
.topHeader{
    height: 52px ;
    font-size: 10px;
    
}

.homeless{
   padding-top: 0px;
}
/*body > header {
    margin-left: -20px;
    margin-right:-20px;
    height: 117px;
}
body > footer {
    margin-left: -20px;
    margin-right:-20px;
    padding: 20px;
}*/
body > section#slide-show {
   /* height: 80px !important; */
}

body > section {
 /*   margin-left: -20px;
    margin-right:-20px;*/
    padding: 20px;
}





.topHeader .hirebtn, .topHeader .btn {
    font-size: 10px;
}
}
