@charset "UTF-8";
@import "../fonts/stylesheet.css";
img, object, embed, video {
    max-width: 100%;
}
.ie6 img {
    width: 100%;
}
#ascrail2000 {
}

p:empty{margin:0;padding:0;display:none;}
.stickySlide {
    position: fixed !important;
    top: 0;
}
hr {
    background: url("../images/lineTile.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 8px;
    margin: 0;
    padding: 0;
}
hr.lineTile-02 {
    background: url("../images/lineTile-02.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 8px;
    margin: 0;
    padding: 0;
}
.gridContainer {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}
.container {
    margin: 0 auto;
    max-width: 1020px;
}
body {
    background: none repeat scroll 0 0 #fff;
    color: #000000;
    font-family: "ralewayregular",sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    margin: 0; padding: 0;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
header {
    position: relative;
}
.mobile_nav {
    display: none;
}
.content {
    padding: 100px 0 0;
}
h1, h2 {
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
}
h3 {
    font-size: 34px;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
}
#internal .ourWork {
    background: none repeat scroll 0 0 #fff;
}
.ourWork {
    background: none repeat scroll 0 0 #f7f7f7;
    overflow: hidden;
    padding: 0 0 55px;
    text-align: center;
}
.ourWork .container {
    max-width: 1200px;
    width: auto;
}
.ourWork h2 {
    padding: 55px 0;
}
.ourWork ul {
    margin-bottom: 30px;
}
.ourWork li {
    display: inline-block;
    margin: 0 11px;
    width: 260px;
}
.ourWork li h3 {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: normal;
}
.ourWork li a {
    display: block;
}
.ourWork li a:hover {
}
.ourWork li .thumb {
    height: 191px;
    position: relative;
    width: 260px;
}
.ourWork li .thumb .mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.ourWork li a:hover .mask {
    opacity: 1;
}
.ourWork li .thumb .mask:before {
}
.ourWork li .thumb .mask:after {
    background-color: rgba(88, 131, 44, 1);
    background-image: url("../images/icon-plus.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 62px;
    left: 50%;
    margin: -31px 0 0 -31px;
    position: absolute;
    top: 50%;
    width: 62px;
}
.ourWork li .thumb > img, .ourWork li .thumb a:hover > img {
    transition: all 300ms linear 0s;
}
.ourWork li:hover .thumb > img {
    transform: scale(1.2) rotate(0deg) translate(0px);
}
a:hover .mask:after {
    animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1 running overlay;
}
.folioList {
    padding: 40px 0 50px;
    text-align: center;
    
}
.folioList .container {
    max-width: 1200px;
    width: auto;
}
.folioList h2 {
    padding: 55px 0;
}
.folioList ul {
    margin-bottom: 30px;
}
.folioList li {
    /*margin: 0 15px 30px;*/
    width: 260px;
}
.folioList li h3 {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: normal;
    min-height: 40px;
    line-height: 20px;
    padding: 8px 0;
}
.folioList li a {
    display: block;
}
.folioList li a:hover {
}
.folioList li .thumb {
    height: 191px;
    position: relative;
    width: 260px;
    margin: 0 auto;
}
.folioList li .thumb .mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.folioList li a:hover .mask {
    opacity: 1;
}
.folioList li .thumb .mask:before {
}
.folioList li .thumb .mask:after {
    background-color: rgba(88, 131, 44, 1);
    background-image: url("../images/icon-plus.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 62px;
    left: 50%;
    margin: -31px 0 0 -31px;
    position: absolute;
    top: 50%;
    width: 62px;
}
.folioList li .thumb > img, .folioList li .thumb a:hover > img {
    transition: all 300ms linear 0s;
}
.folioList li:hover .thumb > img {
    transform: scale(1.2) rotate(0deg) translate(0px);
}
a:hover .mask:after {
    animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1 running overlay;
}
.services {
    background: none repeat scroll 0 0 #ffffff;
    min-height: 500px;
    text-align: center;
}
.services .container {
    margin: 0 auto;
    max-width: 680px;
}
.services h2 {
    background: url("../images/lineTile.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    margin: 0 0 20px;
    padding: 40px 0;
    text-transform: uppercase;
}
.ourClients {
    background: none repeat scroll 0 0 #000000;
    text-align: center;
}
.ourClients h2 {
    background: url("../images/lineTile.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 40px 0 30px;
}
.ourClients p {
    color: #fff;
    margin: 45px 0;
}
.ourClients .logoCompanies {
    margin: 0 auto;
    max-width: 840px;
    padding: 0 0 50px;
}
.ourClients .logoCompanies ul {
    display: inline;
    margin: 0 auto;
    font-size: 0;
}
.ourClients .logoCompanies li {
    height: 90px;
    text-align: center;
    width: 25%;
    display: inline-block;
}
.ourClients .logoCompanies span {
    display: table-cell;
    height: 90px;
    vertical-align: middle;
    width: 210px;
}
.contact {
    background: url("../images/bgContact.jpg") no-repeat scroll 50% center / cover rgba(0, 0, 0, 0);
    min-height: 560px;
    text-align: center;
}
.contact h2 {
    color: #fff;
    margin: 0;
    padding: 45px 0 35px;
    text-transform: uppercase;
}
.contact .location {
    background: url("../images/icoLocation.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 25px;
    line-height: 32px;
    margin: 20px 0 10px;
    padding: 70px 0 0;
}
.contact .location p {
    font-family: "ralewaylight",sans-serif;
    font-weight: normal;
    margin: 0;
}
.contact .location strong {
    font-family: "ralewaylight",sans-serif;
    font-weight: normal;
}
.contact .block-r-m-container {
    margin-bottom: 30px;
}
.social-links {
    padding: 20px 0 5px;
}
.social-links li {
    display: inline-block;
    margin: 0 8px;
}
.social-links a {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
}
.social-links a.facebook-link {
    background: url("../images/ico-fb.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.social-links a.twitter-link {
    background: url("../images/ico-tw.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.social-links a.linkedin-link {
    background: url("../images/ico-in.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.social-links a.email-link {
    background: url("../images/ico-e.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.social-links a.facebook-link:hover {
    background-color: #3c5b9b;
}
.social-links a.twitter-link:hover {
    background-color: #2caae1;
}
.social-links a.linkedin-link:hover {
    background-color: #0173b2;
}
.social-links a.email-link:hover {
    background-color: #f63e28;
}
.contact a.sitemap {
    color: #fff;
    font-family: "ralewaylight",sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.contact a.sitemap:hover {
    color: #669933;
}
.contact a.privacy {
    color: #666;
    font-size: 9px;
    left: 20px;
    position: absolute;
}
.bannerService {
    background: url("../images/services/slider-ourService.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 715px;
    position: relative;
    text-align: center;
}
.bannerService:before {
    background: url("../images/services/ico-hand-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 558px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    top: 157px;
    width: 799px;
}
.bannerService:after {
    background: url("../images/services/ico-hand.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 558px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    top: 157px;
    width: 799px;
}
#service-page .banner-main, #internal .banner-main, #internal2 .banner-main {
    position: relative;
}
#service-page .banner-main .bannerCaption, #internal .banner-main .bannerCaption, #internal2 .banner-main .bannerCaption {
    position: absolute;
    top: 0;
    width: 100%;
}
#service-page .banner-main .bannerCaption .container, #internal .banner-main .bannerCaption .container, #internal2 .banner-main .bannerCaption .container {
    position: relative;
}
#internal .bannerMagento, #internal .bannerHybris, #internal .bannerDemandware {
    background: url("../images/services/slider-bg01.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal .bannerWordpress, #internal .bannerDrupal, #internal .bannerCustom {
    background: url("../images/services/slider-bg02.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal .banneriOS, #internal .bannerAndroid, #internal .bannerMobileWeb {
    background: url("../images/services/slider-bg03.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal2 .bannerE-Commerce {
    background: url("../images/services/slider-bg04.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal2 .bannerMobileApp {
    background: url("../images/services/slider-bg05.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal2 .bannerCustomDevelopment {
    background: url("../images/services/slider-bg06.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal2 .bannerMarketing {
    background: url("../images/services/slider-bg07.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal2 .bannerMaintenancePlans {
    background: url("../images/services/slider-bg06.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 580px;
    position: relative;
    text-align: center;
}
#internal .bannerMagento:before {
    background: url("../images/services/ico-magento-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerMagento:after {
    background: url("../images/services/ico-magento.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 302px;
    left: 50%;
    margin: 0 0 0 -128px;
    position: absolute;
    top: 100px;
    width: 256px;
}
#internal .bannerHybris:before {
    background: url("../images/services/ico-Hybris-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerHybris:after {
    background: url("../images/services/ico-Hybris.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 264px;
    left: 50%;
    margin: 0 0 0 -115px;
    position: absolute;
    top: 128px;
    width: 231px;
}
#internal .bannerDemandware:before {
    background: url("../images/services/ico-Demandware-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerDemandware:after {
    background: url("../images/services/ico-Demandware.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 284px;
    left: 50%;
    margin: 0 0 0 -123px;
    position: absolute;
    top: 107px;
    width: 246px;
}
#internal .bannerWordpress:before {
    background: url("../images/services/ico-workpress-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerWordpress:after {
    background: url("../images/services/ico-workpress.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 245px;
    left: 50%;
    margin: 0 0 0 -122px;
    position: absolute;
    top: 144px;
    width: 245px;
}
#internal .bannerDrupal:before {
    background: url("../images/services/ico-Drupal-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerDrupal:after {
    background: url("../images/services/ico-Drupal.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 284px;
    left: 50%;
    margin: 0 0 0 -124px;
    position: absolute;
    top: 100px;
    width: 248px;
}
#internal .bannerCustom:before {
    background: url("../images/services/ico-custom-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerCustom:after {
    background: url("../images/services/ico-custom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 258px;
    left: 50%;
    margin: 0 0 0 -129px;
    position: absolute;
    top: 136px;
    width: 258px;
}
#internal .banneriOS:before {
    background: url("../images/services/ico-iOS-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .banneriOS:after {
    background: url("../images/services/ico-iOS.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 258px;
    left: 50%;
    margin: 0 0 0 -129px;
    position: absolute;
    top: 136px;
    width: 258px;
}
#internal .bannerAndroid:before {
    background: url("../images/services/ico-iOS-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerAndroid:after {
    background: url("../images/services/ico-android.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 258px;
    left: 50%;
    margin: 0 0 0 -129px;
    position: absolute;
    top: 136px;
    width: 258px;
}
#internal .bannerMobileWeb:before {
    background: url("../images/services/ico-iOS-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 300px;
    left: 50%;
    margin: 0 0 0 -401px;
    position: absolute;
    top: 164px;
    width: 802px;
    z-index: 1;
}
#internal .bannerMobileWeb:after {
    background: url("../images/services/ico-MobileWeb.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 258px;
    left: 50%;
    margin: 0 0 0 -129px;
    position: absolute;
    top: 136px;
    width: 258px;
}
#internal2 .bannerMarketing:before {
    background: url("../images/services/ico-marketing-line.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 336px;
    left: 50%;
    margin: 0 0 0 -296px;
    position: absolute;
    top: 134px;
    width: 592px;
    z-index: 1;
}
#internal2 .bannerMarketing:after {
    background: url("../images/services/ico-marketing.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 258px;
    left: 50%;
    margin: 0 0 0 -129px;
    position: absolute;
    top: 173px;
    width: 258px;
}
#internal .banner .row, #internal2 .banner .row {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}
#internal2 .banner.bannerCustomDevelopment .row, #internal2 .banner.bannerCustomDevelopment .row p, #internal2 .banner.bannerCustomDevelopment .row a {
    color: #000;
}
#internal2 .banner.bannerMaintenancePlans .row, #internal2 .banner.bannerMaintenancePlans .row p, #internal2 .banner.bannerMaintenancePlans .row a {
    color: #000;
}
#internal .banner h1, #internal2 .banner h1 {
    font-size: 50px;
    margin: 0;
    padding: 40px 0 50px;
    position: relative;
    z-index: 10;
}
#internal2 .banner.bannerCustomDevelopment h2, #internal2 .banner.bannerMaintenancePlans h2 {
    color: #000;
    text-transform: uppercase;
}
#internal2 .banner .captionBanner {
    text-align: left;
}
#internal2 .banner.bannerE-Commerce .captionBanner {
    position: absolute;
    right: -100px;
    top: 125px;
    width: 495px;
}
#internal2 .banner.bannerMobileApp .captionBanner {
    left: 0;
    position: absolute;
    top: 75px;
    width: 660px;
}
#internal2 .banner.bannerCustomDevelopment .captionBanner {
    left: 0;
    position: absolute;
    top: 0;
    width: 495px;
}
#internal2 .banner h2, #internal2 .banner h1 {
    text-align: left;
    text-transform: uppercase;
}
#internal2 .banner.bannerMarketing h1 {
    text-align: center;
}
#internal2 .banner p {
    text-align: left;
}
.cellSubscript {
    color: #fff;
    text-align: left;
}
.cellSubscript h3 {
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.cellSubscript ul {
    font-size: 15px;
    margin-bottom: 10px;
}
.cellSubscript li {
    background: url("../images/listStyle-white.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
    line-height: 20px;
    padding: 0 0 0 20px;
}
.bannerCustomDevelopment .cellSubscript li, .bannerMaintenancePlans .cellSubscript li {
    background: url("../images/listStyle-black.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
    color: #000;
    line-height: 20px;
    padding: 0 0 0 20px;
}
.cellSubscript a {
    color: #fff;
}
.fix-tl {
    left: -12px;
    position: absolute;
    top: 177px;
}
.fix-tr {
    position: absolute;
    right: 0;
    top: 177px;
}
.fix-bl {
    left: -12px;
    position: absolute;
    top: 470px;
}
.fix-bm {
    left: 426px;
    position: absolute;
    top: 470px;
}
.fix-br {
    position: absolute;
    right: -60px;
    top: 470px;
}
#internal2 .fix-tl {
    left: 0;
    position: absolute;
    top: 126px;
}
#internal2 .fix-tr {
    position: absolute;
    right: -40px;
    top: 126px;
    width: 245px;
}
#internal2 .fix-bl {
    left: 0;
    position: absolute;
    top: 453px;
}
#internal2 .fix-br {
    position: absolute;
    right: -40px;
    top: 453px;
    width: 245px;
}
#service-page {
}
#service-page .cellSubscript h3 {
    clear: both;
}
#service-page .cellSubscript.fix-tr, #service-page .cellSubscript.fix-br {
    text-align: right;
}
#service-page .cellSubscript.fix-tr li, #service-page .cellSubscript.fix-br li {
    background: url("../images/listStyle-white.png") no-repeat scroll 100% 7px rgba(0, 0, 0, 0);
    line-height: 20px;
    padding: 0 20px 0 0;
}
#service-page .row {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}
#service-page a.readmore-link {
    background: url("../images/arrReadmore.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    color: #669933;
    display: inline-block;
    font-size: 15px;
    height: 22px;
    line-height: 22px;
    padding: 0 30px 0 0;
    text-transform: uppercase;
}
#service-page .ico-webDesign {
    background: url("../images/icoS-white-01.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 100px;
    width: 100px;
}
#service-page .ico-eCommerce {
    background: url("../images/icoS-white-02.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
    height: 100px;
    width: 100px;
}
#service-page .ico-molApp {
    background: url("../images/icoS-white-03.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 100px;
    width: 100px;
}
#service-page .ico-dglMarketing {
    background: url("../images/icoS-white-04.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
    height: 100px;
    width: 100px;
}
#service-page .fix-tl {
    left: 0;
    position: absolute;
    top: 120px;
}
#service-page .fix-tr {
    position: absolute;
    right: 0;
    top: 120px;
    width: auto;
}
#service-page .fix-bl {
    left: 0;
    position: absolute;
    top: 400px;
}
#service-page .fix-br {
    position: absolute;
    right: 0;
    top: 400px;
}
.BreadcrumbInternal {
    background: none repeat scroll 0 0 #000;
    height: 34px;
    line-height: 34px;
}
.BreadcrumbInternal ul {
    color: #c5c5c5;
    font-size: 13px;
    margin: 0 auto;
    max-width: 1044px;
    padding: 0 20px;
}
.BreadcrumbInternal li {
    float: left;
}
.BreadcrumbInternal a {
    color: #c5c5c5;
    margin: 0 10px;
    text-decoration: underline;
}
.BreadcrumbInternal li:first-child a {
    margin: 0 10px 0 0;
}
.BreadcrumbInternal a:hover {
    text-decoration: none;
}
.BreadcrumbInternal a.current {
    pointer-events: none;
    text-decoration: none;
}
.bannerService h2 {
    margin: 0;
    padding: 55px 0 50px;
    text-transform: uppercase;
}
.bannerService p {
    margin: 0 auto;
    max-width: 730px;
    padding: 0 0 60px;
}
.bannerService .row {
    text-align: center;
}
.ServicePopup {
    color: #fff;
    display: inline-block;
    font-family: "ralewaylight",sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.ServicePopup h4 {
    font-family: "ralewaylight",sans-serif;
    font-weight: normal;
}
.ServicePopup h4 a {
    color: #fff;
}
.ServicePopup h4 a:hover {
    color: #669933;
}
.ServicePopup .current {
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff inset;
    cursor: pointer;
    display: inline-block;
    height: 106px;
    margin: 0 32px;
    transition: all 300ms ease 0s;
    width: 106px;
}
.ServicePopup .current:hover {
    background-color: #e4e2e1;
    background-position: 50% 100%;
    box-shadow: 0 0 0 3px #fff inset;
}
.ServicePopup .ico01 {
    background-image: url("../images/icoS-gray-01.png");
}
.ServicePopup .ico02 {
    background-image: url("../images/icoS-gray-02.png");
}
.ServicePopup .ico03 {
    background-image: url("../images/icoS-gray-03.png");
}
.ServicePopup .ico04 {
    background-image: url("../images/icoS-gray-04.png");
}
.ServicePopup .ico01:hover {
    background-image: url("../images/icoS-gray-01.png");
}
.ServicePopup .ico02:hover {
    background-image: url("../images/icoS-gray-02.png");
}
.ServicePopup .ico03:hover {
    background-image: url("../images/icoS-gray-03.png");
}
.ServicePopup .ico04:hover {
    background-image: url("../images/icoS-gray-04.png");
}
.ServicePopup {
    position: relative;
    width: 230px;
}
.ServicePopup .current .tooltip span {
    color: #000;
    display: table-cell;
    font-size: 15px;
    height: 95px;
    line-height: 18px;
    padding: 0 15px;
    text-align: left;
    text-transform: none;
    vertical-align: middle;
}
.ServicePopup .current .tooltip a.r-m-gray {
    border-top: 1px solid #4c4b4b;
    color: #a6a6a6;
    display: block;
    height: 34px;
    line-height: 32px;
    padding: 0 47px 0 0;
    text-align: right;
    text-transform: none;
}
.ServicePopup .current .tooltip a.r-m-gray:hover {
    border-color: #669933;
    color: #669933;
}
.ServicePopup .current .tooltip a.r-m-gray:before, a.r-m-gray:after {
    content: "";
    position: absolute;
    right: 0;
}
.ServicePopup .current .tooltip .r-m-gray:after {
    background-color: #4d4c4c !important;
    background-image: url("../images/arrow-rm.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 34px;
    transition: all 0.3s ease 0s;
    width: 34px;
}
.ServicePopup .current .tooltip .r-m-gray:hover:after {
    background-color: #669933 !important;
}
.ServicePopup .current .tooltip {
    background-color: #fff;
    bottom: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    color: #000;
    display: block;
    height: 130px;
    left: -112px;
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(10px);
    transition: all 0.25s ease-out 0s;
    width: 334px;
}
.ServicePopup .current .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}
.ServicePopup .current .tooltip:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 0;
}
.ServicePopup .current:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}
.services-main {
}
.services-main .container {
    max-width: 1080px;
}
.services-main .container .row {
    text-align: center;
}
.services-main h2 {
    margin: 0;
    padding: 60px 100px;
    text-align: center;
    text-transform: uppercase;
}
.services-main .grid-3 {
    display: inline-block;
    margin: 0 25px;
    width: 306px;
}
.Integrations-main {
    background: none repeat scroll 0 0 #f7f7f7;
}
.Integrations-main hr {
    margin: 0 0 50px;
}
.Integrations-main .container {
    max-width: 1080px;
}
.Integrations-main .container .row {
    text-align: center;
}
.Integrations-main h2 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.Integrations-main .grid-3 {
    display: inline-block;
    margin: 0 25px;
    width: 306px;
}
#internal2 .Advantage-main {
    background: none repeat scroll 0 0 #f7f7f7;
}
.Advantage-main {
}
.Advantage-main .container {
    max-width: 1080px;
}
.Advantage-main .container .row {
}
.Advantage-main h2 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.Advantage-main h4 {
    margin: 0 0 10px;
}
.Advantage-main a, .Advantage-main h4 {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.Advantage-main .grid-2 {
    display: inline-block;
    margin: 0 25px;
    width: 490px;
}
.Advantage-main ul {
    color: #5f5f5f;
    font-size: 15px;
}
.Advantage-main li {
    background: url("../images/listStyle-gray.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
    padding: 0 0 0 20px;
}
.Advantage-main .description {
    float: left;
    width: 334px;
}
.Advantage-main .grid-2 {
    padding: 45px 0;
}
.Advantage-main .grid-2:nth-child(2n+1) {
    clear: both;
    float: left;
}
.Advantage-main .grid-2:nth-child(2n) {
    float: right;
}
.Advantage-Block {
}
.Advantage-Block .ico {
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    float: left;
    height: 138px;
    margin: 0 14px 14px 0;
    position: relative;
    width: 138px;
}
.Advantage-Block .ico:before {
    border-radius: 50%;
    box-shadow: 0 0 0 7px #dfdfdf inset;
    content: "";
    display: block;
    height: 132px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 132px;
}
.Advantage-Block .ico-MagentoCertified {
    background: url("../images/icoS-05.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-VisionCertified {
    background: url("../images/icoS-01a.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-SpeedCertified {
    background: url("../images/icoS-06.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-StrategyCertified {
    background: url("../images/icoS-07.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Drupal-advantage {
    background: url("../images/services/ico-Drupal-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Demandware-advantage {
    background: url("../images/services/ico-Demandware-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Hybris-advantage {
    background: url("../images/services/ico-Hybris-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Wordpress-advantage {
    background: url("../images/services/ico-workpress-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Magento-advantage {
    background: url("../images/services/ico-magento-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Android-advantage {
    background: url("../images/services/ico-android-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Ios-advantage {
    background: url("../images/services/ico-iOS-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Ecommerce-advantage {
    background: url("../images/services/ico-eCommerce-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Customweb-advantage {
    background: url("../images/services/ico-custom-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Advantage-Block .ico-Mobileweb-advantage {
    background: url("../images/services/ico-MobileWeb-Green.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.Core-main {
}
.Core-main .container {
    max-width: 1080px;
}
.Core-main .container .row {
}
.Core-main h2 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.TechnicalSupport {
}
.TechnicalSupport h3 {
    color: #010101;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.TechnicalSupport ul {
}
.TechnicalSupport li {
    background: url("../images/listStyle-gray.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    color: #5f5f5f;
    font-size: 15px;
    padding: 0 0 0 20px;
}
.TechnicalSupport a {
    color: #5f5f5f;
    font-size: 15px;
}
.tabsInternal {
    color: #5f5f5f;
    margin: 0 auto;
    max-width: 823px;
    padding: 40px 0;
}
.subTabs {
    border-bottom: 6px solid #669933;
    margin-bottom: 35px;
    overflow: hidden;
}
.subTabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f7f7f7;
    border-color: #e2e2e2 #e2e2e2 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 3px medium;
    float: left;
    margin: 0 0 0 2.1%;
    width: 31%;
}
.subTabs li:first-child {
    margin: 0;
}
.subTabs li.ui-tabs-active {
    background-color: #fff;
    border-color: #669933;
}
.subTabs a {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 74px;
    width: 100%;
}
.subTabs li.tab-Magento a {
    background-image: url("../images/services/logo/magento.png");
}
.subTabs li.tab-Hybris a {
    background-image: url("../images/services/logo/hybris.png");
}
.subTabs li.tab-Demandware a {
    background-image: url("../images/services/logo/demandware.png");
}
.subTabs li.tab-iOS a {
    background-image: url("../images/services/logo/iOS.png");
}
.subTabs li.tab-Android a {
    background-image: url("../images/services/logo/Android.png");
}
.subTabs li.tab-MobileWeb a {
    background-image: url("../images/services/logo/MobileWeb.png");
}
.subTabs li.tab-Workpress a {
    background-image: url("../images/services/logo/workpress.png");
}
.subTabs li.tab-Joomla a {
    background-image: url("../images/services/logo/drupal.png");
}
.subTabs li.tab-CustomDevelopment a {
    background-image: url("../images/services/logo/CustomDevelopment.png");
}
.subTabs li.tab-Seo a {
    background-image: url("../images/services/logo/Content-Strategy-SEO.png");
}
.subTabs li.tab-Media a {
    background-image: url("../images/services/logo/social-media.png");
}
.subTabs li.tab-Semppc a {
    background-image: url("../images/services/logo/semppc.png");
}
.tabsInternal .right {
    float: right;
    width: 543px;
}
.tabsInternal .right .tabsInternal-containner {
    border-left: 1px solid #bababa;
    padding: 0 0 0 20px;
}
.tabsInternal .right .tabsInternal-containner h3 {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.tabsInternal .right .tabsInternal-containner p {
    font-size: 15px;
    margin: 0 0 20px;
}
.tabsInternal .right .tabsInternal-containner p a {
    color: #669933;
}
#filterServices .ico {
    float: left;
    margin: 8px 15px 0 0;
}
#filterServices .ico a {
    background-position: 50% center;
    background-repeat: no-repeat;
    display: block;
    height: 90px;
    width: 105px;
}
#filterServices .description {
    display: table;
    text-align: left;
}
#filterServices h4 {
    margin: 0;
}
#filterServices h4 a {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 15px;
    font-weight: normal;
}
#filterServices p {
    color: #5f5f5f;
    font-size: 13px;
    line-height: 18px;
}
.workpress-Block .ico a {
    background-image: url("../images/icoServices/ico-Wordpress.png");
}
.magento-Block .ico a {
    background-image: url("../images/icoServices/ico-Magento.png");
}
.opencart-Block .ico a {
    background-image: url("../images/icoServices/ico-Opencart.png");
}
.osCommerce-Block .ico a {
    background-image: url("../images/icoServices/ico-osCommerce.png");
}
.drupal-Block .ico a {
    background-image: url("../images/icoServices/ico-Drupal.png");
}
.joomla-Block .ico a {
    background-image: url("../images/icoServices/ico-Joomla.png");
}
.senchaTouch-Block .ico a {
    background-image: url("../images/icoServices/ico-Sencha.png");
}
.phonegap-Block .ico a {
    background-image: url("../images/icoServices/ico-Phonegap.png");
}
.parallax-Block .ico a {
    background-image: url("../images/icoServices/ico-Parallax.png");
}
.responsive-Block .ico a {
    background-image: url("../images/icoServices/ico-Responsive.png");
}
.html5-Block .ico a {
    background-image: url("../images/icoServices/ico-HTML5.png");
}
.css3-Block .ico a {
    background-image: url("../images/icoServices/ico-CSS3.png");
}
.Quickbooks-Block .ico a {
    background-image: url("../images/icoServices/ico-Quickbooks.png");
}
.Janrain-Block .ico a {
    background-image: url("../images/icoServices/ico-Janrain.png");
}
.SugarCRM-Block .ico a {
    background-image: url("../images/icoServices/ico-SugarCRM.png");
}
.Sage-Block .ico a {
    background-image: url("../images/icoServices/ico-Sage.png");
}
.Dydacomp-Block .ico a {
    background-image: url("../images/icoServices/ico-Dydacomp.png");
}
.SalesForce-Block .ico a {
    background-image: url("../images/icoServices/ico-SalesForce.png");
}
.Bronto-Block .ico a {
    background-image: url("../images/icoServices/ico-Bronto.png");
}
.Celerant-Block .ico a {
    background-image: url("../images/icoServices/ico-Celerant.png");
}
.Authorize-Block .ico a {
    background-image: url("../images/icoServices/ico-Authorize.net.png");
}
.OrderMotion-Block .ico a {
    background-image: url("../images/icoServices/ico-OrderMotion.png");
}
.SellerActive-Block .ico a {
    background-image: url("../images/icoServices/ico-SellerActive.png");
}
.Paypal-Block .ico a {
    background-image: url("../images/icoServices/ico-Paypal.png");
}
.Netsuite-Block .ico a {
    background-image: url("../images/icoServices/ico-Netsuite.png");
}
.MicrosoftDynamics-Block .ico a {
    background-image: url("../images/icoServices/ico-MicrosoftDynamics.png");
}
.GoogleWallet-Block .ico a {
    background-image: url("../images/icoServices/ico-GoogleWallet.png");
}
.ApacheSolr-Block .ico a {
    background-image: url("../images/icoServices/ico-ApacheSolr.png");
}
.Zendesk-Block .ico a {
    background-image: url("../images/icoServices/ico-Zendesk.png");
}
.SocialMedia-Block .ico a {
    background-image: url("../images/icoServices/ico-SocialMedia.png");
}
.Retail-Block .ico a {
    background-image: url("../images/icoServices/ico-Retail.png");
}
.BrainTree-Block .ico a {
    background-image: url("../images/icoServices/ico-BrainTree.png");
}
.service-internal {
}
.service-internal .container {
    max-width: 100%;
    text-align: center;
}
.service-internal .container h1 {
    color: #669933;
    margin: 0 auto;
    max-width: 1020px;
    padding: 50px 0 20px;
}
.service-internal-main {
    background: none repeat scroll 0 0 #f7f7f7;
    padding: 50px 0;
}
.service-internal-main .container {
    max-width: 1020px;
}
.service-internal-main .container h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}
.service-internal-main .container p {
    font-size: 15px;
}
#internal2 .bannerCustomDevelopment h1 {
    color: #000;
    padding: 50px 0;
}
.about-main {
}
.about-main .row {
    padding: 80px 0;
}
.about-main .row ul li {
    color: #5f5f5f;
    font-size: 15px;
    list-style: disc;
    margin-left: 20px;
}
.about-main h2 {
    margin: 0 0 40px;
    text-transform: uppercase;
}
.about-main .grid-2 {
    float: left;
    width: 510px;
}
.about-main .grid-2 p {
    color: #5f5f5f;
    font-size: 15px;
}
.about-main .grid-2-1 {
    float: right;
    width: 430px;
}
.about-main .grid-2-1 .grid-3 {
    background: url("../images/lineAbout.png") repeat-y scroll 45px 0 rgba(0, 0, 0, 0);
    min-height: 110px;
    padding-bottom: 20px;
}
.about-main .grid-2-1 .grid-3:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#filterAbout .description {
    display: table;
    text-align: left;
}
#filterAbout h4 {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: -3px;
}
#filterAbout h4 a {
    color: #669933;
    cursor: default;
}
#filterAbout p {
    color: #5f5f5f;
    font-size: 13px;
    line-height: 18px;
}
#filterAbout .ico {
    float: left;
    height: 89px;
    margin: 0 20px 0 0;
    width: 89px;
}
#filterAbout .ico a {
    background-color: #fff;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border: 2px solid #a8a8a8;
    border-radius: 50%;
    cursor: default;
    display: block;
    height: 85px;
    width: 85px;
}
#filterAbout .ico a:hover {
    background-position: 50% 100%;
    border: 2px solid #669933;
}
#homeVideo.bg_btnVideo a{
    position: relative;
    color:transparent;
    width: 72px;
    text-indent: -9999px;
}
#homeVideo.bg_btnVideo a:hover{
    color:transparent;
}
#homeVideo.bg_btnVideo a:before{
    width: 0; 
    height: 0; 
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;    
    border-left: 25px solid #fff;
    content: "";
    left:50%;
    top:50%;
    position: absolute;
    margin-top:-25px;
    margin-left:-8px;
}
.discover-Block .ico a {
    background-image: url("../images/icoA-01.png");
}
.design-Block .ico a {
    background-image: url("../images/icoA-02.png");
}
.development-Block .ico a {
    background-image: url("../images/icoA-03.png");
}
.marketing-Block .ico a {
    background-image: url("../images/icoA-04.png");
}
.support-Block .ico a {
    background-image: url("../images/icoA-05.png");
}
.define-Block .ico a {
    background-image: url("../images/icoA-06.png");
}
.deploy-Block .ico a {
    background-image: url("../images/icoA-07.png");
}
.speed-Block .ico a {
    background-image: url("../images/icoA-08.png");
}
.managerService-Block .ico a {
    background-image: url("../images/icoA-09.png");
}
.ourWork-Block .ico a {
    background-image: url("../images/icoA-10.png");
}
.snapShot {
    background: none repeat scroll 0 0 #f7f7f7;
    padding: 0 55px;
    text-align: center;
}
.snapShot .container {
    max-width: 1100px;
}
.snapShot h2 {
    padding: 70px 0 30px;
    text-transform: uppercase;
}
.snapShot .row {
    padding: 60px 0 40px;
    text-align: center;
}
.snapShot .colume {
    color: #8f8f8f;
    display: inline-block;
    margin: 0 28px;
    width: 154px;
}
.snapShot .number-counter {
    background-color: #fff;
    background-position: 50% center;
    background-repeat: no-repeat;
    border: 7px solid #dddddd;
    border-radius: 50%;
    height: 140px;
    position: relative;
    width: 140px;
}
.snapShot .number-counter:after {
    border: 1px solid #dddddd;
    border-radius: 50%;
    content: " ";
    height: 162px;
    left: -12px;
    position: absolute;
    top: -12px;
    width: 162px;
}
.snapShot .number-count {
    display: block;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 100px 0 0;
}
.snapShot .number-counter.ico01 {
    background-image: url("../images/ico-Team-Size.png");
}
.snapShot .number-counter.ico02 {
    background-image: url("../images/ico-Sites-Launched.png");
}
.snapShot .number-counter.ico03 {
    background-image: url("../images/ico-Apps-Launched.png");
}
.snapShot .number-counter.ico04 {
    background-image: url("../images/ico-Partnerships.png");
}
.snapShot .number-counter.ico05 {
    background-image: url("../images/ico-Awards.png");
}
.snapShot h5 {
    font-size: 15px;
    margin: 20px 0;
    text-transform: uppercase;
}
.bannerContact {
    background: url("../images/mapContactBanner.png") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    height: 370px;
}
.contact-main {
}
.contact-main .row {
    padding: 80px 0;
}
.contact-main h2 {
    margin: 0 0 40px;
    text-transform: uppercase;
}
.contact-main .grid-2 {
    float: left;
    width: 720px;
}
.contact-main .grid-2 p {
    color: #000;
    font-size: 15px;
    line-height: 20px;
}
.contact-main .grid-2 p span {
    color: #669933;
    font-size: 20px;
}
.contact-main .grid-2-1 {
    float: right;
    width: 250px;
}
.contact-main .grid-2-1 .grid-3 {
    padding-bottom: 20px;
}
.contactForm {
    font-size: 15px;
}
.contactForm figure {
    margin-bottom: 26px;
}
.contactForm figure span {
    color: #669933;
    font-size: 20px;
}
.contactForm label {
    display: inline-block;
    width: 170px;
}
.contactForm input[type="text"], .contactForm input[type="tel"], .contactForm input[type="email"], .contactForm input[type="url"], .contactForm input[type="date"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #7e7e7e;
    color: #5f5f5f;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    padding: 0 5px;
    transition: all 300ms linear 0s;
    width: 100%;
}
.contactForm input:focus, .contactForm textarea:focus {
    border-color: #669933;
}
.contactForm textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #7e7e7e;
    color: #5f5f5f;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 156px;
    padding: 5px;
    transition: all 300ms linear 0s;
    width: 532px;
}
.contactForm input[type="button"] {
    background: none repeat scroll 0 0 #669933;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 34px;
    text-transform: uppercase;
    width: 100px;
}
.contactForm select {
    -moz-appearance: none;
    border: 1px solid #7e7e7e;
    color: #5f5f5f;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    outline: 0 none;
    padding: 6px 5px;
    position: relative;
    width: 357px;
}
.contactForm span.selectCustom {
    display: inline-block;
    font-size: 15px;
    position: relative;
}
.contactForm span.selectCustom:before {
    background: none repeat scroll 0 0 #fff;
    content: "";
    display: block;
    height: 30px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 30px;
    z-index: 99;
}
.contactForm span.selectCustom:after {
    background: url("../images/arrowBlack.png") no-repeat scroll 50% center rgba(0, 0, 0, 0);
    content: "";
    height: 30px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 2px;
    width: 30px;
    z-index: 100;
}
.contactInfo {
    color: #5f5f5f;
    display: block;
    font-size: 15px;
    padding: 70px 0 20px;
    position: relative;
}
.contactInfo strong {
    color: #000;
    font-family: "ralewaymedium",sans-serif;
    font-weight: normal;
}
.contactInfo a {
    color: #669933;
}
.contactInfo a:hover {
    text-decoration: underline;
}
.folio-main {
    position: relative;
}
.folio-main .tileFolio {
    text-align: center;
    width: 100%;
}
.folio-main h1 {
    color: #000;
    margin: 0;
    padding: 45px 0 25px;
    text-transform: uppercase;
}
.folio-main .container {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}
.folio-main .container .heading {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}
.bgFolio {
    background: url("../images/slides/slide-05.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    height: 688px;
}
.folio-detail {
    position: relative;
}
.folio-detail .tileFolio {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.folio-detail h1 {
    color: #fff;
    margin: 0;
    padding: 45px 0 25px;
    text-transform: uppercase;
}
.folio-detail .container {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}
.folio-detail .container .heading {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}
.bgFolio {
    background: url("../images/slides/slide-05.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    height: 688px;
}
.internal-container {
    padding: 50px 0;
}
.internal-container h2 {
}
.internal-container p {
    font-size: 15px;
}
.internal-container .span2 {
    float: left;
    width: 48%;
}
.internal-container .span2:last-child {
    float: right;
}
.internal-main {
    background: none repeat scroll 0 0 #f7f7f7;
}
.internal-main .container {
    max-width: 1080px;
}
.internal-main .container .row {
    padding: 30px 0;
}
.internal-main h2 {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    padding: 60px 0 20px;
    text-align: center;
    text-transform: none;
}
.internal-main .grid-3 {
    display: inline-block;
    margin: 0 25px;
    width: 306px;
}
#filterInternal .description {
    display: table;
    text-align: left;
}
#filterInternal h4, #filterInternal h4 a {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
#filterInternal p {
    color: #5f5f5f;
    font-size: 13px;
    line-height: 18px;
}
.paging-navigation{ clear: both; float: none; position:absolute; bottom:-60px; right:30px;}

.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    /*border: 1px solid #BFBFBF;*/
    padding: 5px 10px;
    margin: 2px;
    background:#333333;
    font-size:15px;
    border: none;
    -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
    color:#fff;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    background: #669933;
}

.wp-pagenavi span.current {
}
.blogdetail-container {
}
.blogdetail-container .detailPage {
    float: left;
    padding: 30px 0;
    width: 740px;
}
.blogdetail-container .detailPage .post-header {
    margin-bottom: 30px;
}
.blogdetail-container .detailPage h2 {
    color: #000;
    margin-bottom: 10px;
}
.blogdetail-container .detailPage p {
    font-size: 15px;
}
.blog-main {
    background: none repeat scroll 0 0 #f7f7f7;
    padding: 50px 0;
}
.blog-main h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.subBlog {
    float: right;
    font-size: 13px;
    padding: 30px 0;
    width: 240px;
}
.subBlog h4 {
    font-size: 15px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.subBlog .blogLink {
}
.subBlog .blogLink li {
    border-top: 1px solid #e6e6e6;
}
.subBlog .blogLink li:first-child {
    border: medium none;
}
.subBlog .blogLink a {
    color: #669900;
    display: block;
    padding: 8px 0;
}
.subBlog .blogLink a:hover {
    background: none repeat scroll 0 0 #669900;
    color: #fff;
    padding: 8px 10px;
}
.aboutBlog, .recentBlog, .categoriesBlog, .archivesBlog {
    margin-bottom: 30px;
}
.aboutBlog p {
}
.subBlog .tagcloud a {
    background-color: #333333;
    border-radius: 2px;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 8pt !important;
    margin: 3px 3px 0 0;
    padding: 5px 7px;
    position: relative;
    text-transform: capitalize;
}
.subBlog .tagcloud a:hover {
    background-color: #669933;
}
.our-blog {
    padding: 0 0 30px;
}
.our-blog h2 {
    background: url("../images/lineTile.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    color: #000;
    margin: 0 0 20px;
    padding: 40px 0 30px;
    text-align: center;
}
.our-blog ul {
    list-style: outside none none;
}
.our-blog li {
    background: none repeat scroll 0 0 #fff;
    box-sizing: border-box;
    color: #000;
    float: left;
    font-size: 13px;
    margin-left: 5%;
    padding: 0;
    width: 30%;
}
.our-blog li:first-child {
    margin: 0;
}
.our-blog li h3, .our-blog li h3 a {
    color: #669933 !important;
    font-family: "ralewaysemibold",sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    margin: 10px 0;
}
.our-blog li p {
    color: #000;
    font-size: 18px;
    line-height: 20px;
}
.our-blog li a {
    color: #669933;
    font-family: "ralewaysemibold",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.our-blog hr.lineTile-02 {
    background: url("../images/lineOurBlog-cell.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 30px;
}
.our-blog .img-thumb {
    height: 230px;
}
.blog-grid {
    float: left;
    list-style: outside none none;
    margin: 30px 0;
    max-width: 780px;
    padding: 0;
    width: 780px;
}
.blog-grid li {
    display: block;
    float: left;
    opacity: 0;
    padding: 7px;
    width: 46.5%;
}
.blog-grid h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}
.blog-grid h2 a {
    color: #669933 !important;
    font-size: 20px;
}
.blog-grid p {
    font-size: 15px;
    line-height: 20px;
}
.content-inner {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    padding: 0 0 20px;
}
.post-content {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 13px;
    padding: 15px;
}
.post-header {
    color: #777777;
    font-size: 12px;
    line-height: 20px;
}
.post-header a {
    color: #777777;
}
.post-header a:hover {
    color: #669933;
}
.post-meta .date {
    color: #777777;
    text-align: right;
}
.blog-grid li {
    display: block;
    opacity: 0;
}
.blog-grid li.shown, .no-js .blog-grid li, .no-cssanimations .blog-grid li {
    opacity: 1;
}
.blog-grid li a, .blog-grid li img {
    border: medium none;
    display: inline;
    max-width: 100%;
    outline: medium none;
}
/*.blog-grid.effect-3 li.animate {
    -webkit-animation: 0.65s ease-in-out 0s normal forwards 1 running scaleUp;
    -moz-animation: 0.65s ease-in-out 0s normal forwards 1 running scaleUp;
    animation: 0.65s ease-in-out 0s normal forwards 1 running scaleUp;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}
@keyframes scaleUp {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes scaleUp {
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes scaleUp {
    100% {
        opacity: 1;
        -webkit-opacity:1;
        -webkit-transform: scale(1);
    }
}*/
.blog-grid.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


#qLpercentage {
    font-family: "Raleway",sans-serif;
    font-weight: normal;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    transition-duration: 0s;
}
.element {
    margin: 0;
    overflow: hidden;
    position: relative;
}
/*#ourClients .element {
    height: 90px;
    width: 210px;
}*/
#filterServices .element {
    height: 160px;
    width: 306px;
}
#filterInternal .element {
    height: 160px;
    width: 306px;
}
#filterFolio .element {
    height: auto;
    width: 25%;
}
.folio-container {
}
.folio-container .container {
    margin: 0 auto;
    max-width: 1160px;
    width: auto;
}
.subFilter {
    position: absolute;
    right: 0;
    text-align: left;
    top: 50px;
    z-index: 1000;
}
.subFilter ul.option-set {
    background-color: #669933 !important;
    border: 1px solid #93b66f;
    display: none;
    width: 243px;
}
.subFilter ul.option-set li {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    transition: all 300ms linear 0s;
}
.subFilter ul.option-set a {
    border-top: 1px dashed #93b66f;
    color: #fff;
    display: block;
    font-family: "ralewaylight",sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.subFilter ul.option-set li:first-child a {
    border: medium none;
}
.subFilter ul.option-set li:hover {
    background: none repeat scroll 0 0 #000;
}
.subFilter ul.option-set a:hover {
    color: #669933;
}
.block-r-m-container {
}
a.r-m-green {
    display: inline-block;
    position: relative;
}
a.r-m-green:before, a.r-m-green:after {
    content: "";
    position: absolute;
}
.r-m-green:after {
    background-color: #669933 !important;
    background-image: url("../images/arrow-rm.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #93b66f;
    height: 40px;
    transition: all 0.3s ease 0s;
    width: 40px;
}
a.r-m-filter {
    display: inline-block;
    position: relative;
}
a.r-m-filter:before, a.r-m-filter:after {
    content: "";
    position: absolute;
}
.r-m-filter:after {
    background-color: #669933 !important;
    background-image: url("../images/icoFilter.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #93b66f;
    height: 40px;
    transition: all 0.3s ease 0s;
    width: 40px;
}
a.r-m-full {
    background-color: #669933;
    color: #fff;
    margin-right: 40px;
}
a.r-m-full:hover {
    background-color: #000000;
    color: #ffffff;
}
a.r-m-full:after {
    right: -40px;
    top: -1px;
}
.button:hover {
    background-color: #000000;
    color: #669933;
    transition: all 0.3s ease 0s;
}
.button.medium {
    border: 1px solid #93b66f;
    display: inline-block;
    font-family: "ralewaylight",sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 204px;
}
.button.small {
    border: 1px solid #93b66f;
    display: inline-block;
    font-family: "ralewaylight",sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 125px;
}

.holiday-banner{ text-transform: uppercase; text-align: center; min-height: 620px; background-image: url(../images/e-commerce-forum/banner.jpg); background-position: 50% 100%; background-repeat: no-repeat; background-size: cover;}
.holiday-banner .container{ max-width: 1200px; margin: 0 auto;}
.holiday-banner h1{font-family: "ralewayregular",sans-serif; font-size: 50px; font-weight: normal; line-height: 50px; color: #68bd45; text-transform: uppercase; padding: 60px 0 30px;}
.holiday-banner p{ margin: 0;}
.holiday-banner p span{ color: #fff; font-size: 25px; line-height: 25px; padding:  0 0 30px; display: block;}
.holiday-banner .lgo-cpny{ margin-bottom: 30px;}
.fullwidthbanner-container .lgo-cpny{ margin-bottom: 30px;}
.holiday-banner .lgo-cpny ul{ font-size: 0;}
.holiday-banner .lgo-cpny li{ display: inline-block; padding: 0 22px;}
.holiday-banner .item-bner{ margin-bottom: 60px;}
.holiday-banner strong{font-family: "ralewayregular",sans-serif; font-size: 35px; font-weight: normal; line-height: 35px; margin-bottom: 30px; color: #fff; text-transform: none;}
.holiday-banner strong sup{}

.holiday-eCommerce{ background-color: #f7f7f7;}
.holiday-eCommerce .container{ max-width: 1150px; padding: 85px 0;}
.holiday-eCommerce .container h3{ color: #000; font-size: 50px; line-height: 50px; text-transform: none; text-align: center; max-width: 630px; margin:0 auto 60px; padding:  0;}
.holiday-eCommerce .description{ text-align: center; font-size: 20px; margin-bottom: 50px;}
.holiday-eCommerce .description p{ max-width: 680px; margin: 0 auto; padding: 0;}
.holiday-eCommerce .topics_include{}
.holiday-eCommerce .topics_include h4{ font-family: "ralewaysemibold",sans-serif; text-align: center; font-size: 25px; text-transform: uppercase; margin-bottom: 40px;}
.holiday-eCommerce .topics_include ul{ list-style: none;}
.holiday-eCommerce .topics_include li{ width: 270px; float: left; font-size: 20px; padding: 10px 10px 0 100px; position: relative;}
.holiday-eCommerce .topics_include li span{ font-family: arial; position: absolute; top: 0 ; left: 0; background-color: #68bd45; width: 92px; height: 92px; line-height: 92px; text-align: center; font-size: 60px; color: #fff; display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}

.holiday-location{ text-align: center; background-color: #ffffff; background-image: url(../images/e-commerce-forum/bg-location.jpg); background-position: 50% 100%; background-repeat: no-repeat; background-position: contain; min-height: 521px;}
.holiday-location .container{ padding: 80px 0 0;}
.holiday-location h4{ font-family: "ralewaysemibold",sans-serif; text-align: center; font-size: 25px; line-height: 34px; text-transform: uppercase; max-width: 630px; margin:0 auto 40px; padding: 0;}
.holiday-location h2{ padding: 60px 0 30px; text-transform: uppercase;}
.holiday-location .title, .holiday-location strong{ font-size: 25px; font-family: "ralewaysemibold",sans-serif; font-weight: normal;}
.holiday-location p{ font-size: 20px; margin: 0; padding: 12px 0 10px;}

.holiday-featured{ background-color:#1c1c1c;}
.holiday-featured .container{ max-width: 1254px; padding: 85px 0;}
.holiday-featured .container h2{ color: #fff; text-transform: uppercase; text-align: center; margin-bottom: 65px;}
.holiday-featured .cell{ background-color: #ffffff; background-position: 50% 100%; background-repeat: no-repeat; max-width: 178px; padding: 20px 8px; min-height: 540px; margin-left: 18px; text-align: center; float: left;}
.holiday-featured .cell:first-child{ margin-left: 0;}
.holiday-featured .cell.bg-magento{ background-image: url(../images/e-commerce-forum/bgpt-magento.png);}
.holiday-featured .cell.bg-zerolag{ background-image: url(../images/e-commerce-forum/bgpt-zerolag.png);}
.holiday-featured .cell.bg-listrak{ background-image: url(../images/e-commerce-forum/bgpt-listrak.png);}
.holiday-featured .cell.bg-slisystems{ background-image: url(../images/e-commerce-forum/bgpt-slisystems.png);}
.holiday-featured .cell.bg-avalara{ background-image: url(../images/e-commerce-forum/bgpt-avalara.png);}
.holiday-featured .cell.bg-forix{ background-image: url(../images/e-commerce-forum/bgpt-forix.png);}
.holiday-featured .cell .avatar-fearured{ margin-bottom: 30px;}
.holiday-featured .cell .name{ font-size: 17px; line-height: 22px; font-family: "ralewaymedium",sans-serif; text-transform: uppercase; min-height: 45px;}
.holiday-featured .cell .subscript{ font-size: 15px; line-height: 20px; display: block; font-family: "ralewaymedium",sans-serif; min-height: 60px; margin-bottom: 13px;}
.holiday-featured .cell .logo-panelist{ min-height: 45px; margin-bottom: 30px;}
.holiday-featured .cell .description{ font-size: 13px; line-height: 18px;}

@keyframes overlay {
    0% {
        transform: rotate(-175deg) scale(0.2);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes overlay {
    0% {
        transform: rotate(-175deg) scale(0.2);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
#back-top {
    bottom: 25px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 25px;
    z-index: 999999999;
}
#back-top a {
    background-color: rgba(47, 52, 58, 0.8);
    background-image: url("../images/back-top.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: block;
    height: 38px;
    text-decoration: none;
    width: 38px;
    z-index: 9999999;
}
#back-top a:hover {
    background-color: #669933;
}
#preloader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}
#status {
    background-image: url("../images/status.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    height: 250px;
    left: 50%;
    margin: -125px 0 0 -125px;
    position: absolute;
    top: 50%;
    width: 250px;
    z-index: 999999;
}
#status p {
    background-image: url("../images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 192px 66px;
    height: 66px;
    left: 50%;
    margin: 0 0 0 -96px;
    position: relative;
    text-align: center;
    top: 60%;
    width: 192px;
}
#status em {
    display: block;
    font-size: 10px !important;
    font-style: normal;
}
.Paragraph-bner {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px;
    text-align: left;
}
.foli0-38 img {
    left: 5% !important;
}
.widget-area a {
    color: #669933;
}
.widget-area a:hover {
    text-decoration: underline;
}
#contact-map {
    height: 370px;
    margin-bottom: 30px;
    margin-top: -58px;
    width: 100%;
}
.internal-container ol, .internal-container ul {
    margin: 0 0 30px 30px;
}
.internal-container ul li {
    list-style: inside none disc;
}
.ourWork li h3 a {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 400;
}
.ourWork li h3 a:hover {
    color: #669933;
}
.about-main .grid-2-1 .last {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.blog-grid h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.blog-grid h3 a {
    color: #669933 !important;
    font-size: 20px;
}
.subBlog h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.subBlog .widget-area aside {
    margin-bottom: 30px;
}
.widget_recent_entries a, .widget_categories a, .widget_archive a {
    color: #669900;
    display: block;
    padding: 8px 0;
}
.widget_recent_entries a:hover, .widget_categories a:hover, .widget_archive a:hover {
    background: none repeat scroll 0 0 #669900;
    color: #fff;
    padding: 8px 10px;
}
.blogdetail-container .detailPage {
    font-size: 15px;
}
.wpcf7-submit {
    background: none repeat scroll 0 0 #669933;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 34px;
    text-transform: uppercase;
    width: 100px;
}
.about-main .row {
    padding: 80px 0 0 !important;
}
.bannerService h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    padding: 75px 0 50px;
    text-transform: uppercase;
}
#filterInternal a, .internal-container a {
    color: #669933;
}
#filterInternal a:hover, .internal-container a:hover {
    color: #000000;
}
.cbp-af-header nav li ul.sub-menu li:first-child a:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cbp-af-header nav li ul.sub-menu li:last-child a:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.imgBg img {
    display: none !important;
}
.folio-detail p {
    margin: 0 !important;
}
.block-r-m-container a {
    color: #ffffff !important;
}
#service-page .banner-main .bannerCaption .container p, #internal .banner-main .bannerCaption .container p, #internal2 .banner-main .bannerCaption .container p {
    margin: 0;
    padding: 0;
}


.contactpage{background-color:#F5F5F5;}
.contactpage .container{ max-width: 1100px; padding: 80px 0;}
.contactpage .panel-left{ float: left; width: 55%;}
.contactpage .panel-right{ float: right; width: 45%;}
.contactpage h2{ font-size: 30px; font-weight: 600; text-transform: none; text-align: left; margin-bottom: 10px;}
.contactpage h4{font-size:17px; margin-bottom: 20px;}
.contact-form{ max-width: 550px;}
.contact-form form{}
.contact-form form fieldset{}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"]{ width: 95%; height: 60px; margin-bottom: 20px;}
.contact-form input[type="button"], .contact-form input[type="submit"]{ border: none; font-weight: 700; text-transform: uppercase; font-size: 17px; color: #fff; background-color: #68bd45; height: 50px; padding: 0 40px; line-height: 50px; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 3px 0 #669933; -moz-box-shadow: 0 3px 0 #669933; box-shadow: 0 3px 0 #669933;}
.contact-form textarea{ width: 95%;height: 120px; padding: 13px;}
.contact-form .toggle-form{ background-color: #fff; border: 1px solid #dbdbdb; margin-bottom: 20px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.contact-form .expand-form{ padding: 20px; display: none;}
.contact-form .slider-amount{}
.contact-form .slider-toggle-form{ position: relative; height: 50px; font-size: 15px; background-color: #2c3033; background-image: url(../images/arrow-expand-contact.png); background-position: 100% -48px; background-repeat: no-repeat; color: #fff; line-height: 50px; padding:  0 13px; cursor: pointer; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;}
.contact-form .slider-toggle-form i{ position: absolute; right: 48px; top: 0; visibility: hidden;}
.contact-form .slider-toggle-form.active{ background-position: 100% 0; text-indent: -999em;}
.contact-form .slider-toggle-form.active i{ visibility: inherit; text-indent: 0em;}
.contact-form .slider-amount label{ margin-bottom: 10px; display: block; font-size: 15px;}
.contact-form .slider-amount label span{ font-size: 12px;}
.contact-form .bg-field{ background-color: #f9f9f9; border: 1px solid #dbdbdb; padding: 16px 0 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom: 20px;}
.contact-form #slider-range{}
.contact-form #slider-range.ui-slider-horizontal{ margin: 0 65px 0 50px; background-color: #68bd45; height: 6px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.contact-form #slider-range .min-price, #slider-range .max-price{ font-size: 15px; position: absolute; text-transform: uppercase; top: -8px; color: #000;}
.contact-form #slider-range .min-price{ left: -45px;}
.contact-form #slider-range .max-price{ right: -60px;}
/* .contact-form #amount{ border: 0; background-color: transparent; width: 100%; height: auto; text-align: center; font-weight: 700; font-size: 17px; color: #68bd45; margin: 0; padding: 12px 0; pointer-events: none;} */
.contact-form .ui-slider { position: relative; text-align: left;}
.ui-slider .ui-slider-handle { position: absolute; top: -4px; margin-left: -7px; z-index: 2; width: 14px; height: 14px; background: #fff; border: 3px solid #68bd45; cursor: default; -ms-touch-action: none; touch-action: none; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; border: 0; height: 6px; background-image: url(../images/gradient-01.png);}

.contactpage .contact-info{}
.contactpage .contact-info .location-cell{ margin-bottom: 40px;}
.contactpage .contact-info h4{ font-size: 15px; color: #000; font-weight: 600; margin-bottom: 10px; text-transform:uppercase;}
.contactpage .contact-info p{ font-size: 13px; line-height: 25px; color: #777777;}
.contactpage .contact-info .col{ width: 42%; float: left; padding: 0 3%;}
.contactpage .contact-info ul{ list-style: none; font-size: 13px;}
.contactpage .contact-info li{ font-weight: 600; color: #000; margin-bottom: 10px;}
.contactpage .contact-info a{ font-weight: 400; color: #777777;}
.contactpage .contact-info li:last-child a{ color: #68bd45;}
.contactpage .contact-info .col:first-child ul{ padding: 5px 0 0;}

.contactpage input,.contactpage textarea { font-family: 'Open Sans', sans-serif; font-size:15px; color:#000; padding:  0 13px; font-weight: 400; border: 1px solid #dbdbdb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.contactpage input:focus,.contactpage textarea:focus{ border: 1px solid #68bd45; -webkit-box-shadow: 0 0 3px #669933; -moz-box-shadow: 0 0 3px #669933; box-shadow: 0 0 3px #669933;}
.contactpage input:invalid,.contactpage textarea:invalid{background-color: #FFFFFF}

#internal .hybris .fix-tr  {
    right: -70px!important;
}
@media only screen and (width: 1024px) {
.container {
    margin: 0 20px;
}
.ourWork li {
    width: 220px;
}
.ourWork li .thumb {
    height: auto;
    width: 220px;
}
.folioList li {
    margin: 0 16px 30px;
    width: 220px;
}
#filterFolio .element {
    height: auto;
    width: 220px;
}
.folioList li .thumb {
    height: auto;
    width: 220px;
}
.services-main .grid-3 {
    margin: 0 20px;
}
#filterServices .element {
    width: 280px;
}
.internal-main .grid-3 {
    margin: 0 20px;
}
#filterInternal .element {
    width: 280px;
}
.blog-grid {
    width: 730px;
}
.blogdetail-container .detailPage {
    width: 720px;
}
.snapShot {
    padding: 0;
}
.snapShot .row {
    padding: 60px 0;
}
.snapShot .colume {
    margin: 0 18px;
}
.folio-main .container {
    margin: 0;
}
.contact-main .grid-2 {
    max-width: 680px;
}
.Advantage-main .grid-2 {
    width: 440px;
}
.Advantage-main .description {
    width: 285px;
}
}
@media only screen and (max-width: 1000px) {
#service-page {
}
.banner-main {
}
#service-page .banner-main .bannerCaption, #internal .banner-main .bannerCaption, #internal2 .banner-main .bannerCaption {
    background: none repeat scroll 0 0 #000;
    position: relative;
}
.fix-tl, .fix-tr, .fix-bl, .fix-bm, .fix-br, #internal2 .fix-tl, #internal2 .fix-tr, #internal2 .fix-bl, #internal2 .fix-br {
    padding: 20px 0;
    position: inherit;
    width: 48%;
}
.fix-tl, #service-page .fix-tl {
    clear: both;
    float: left;
}
.fix-tr, #service-page .fix-tr {
    float: right;
}
.fix-bl, #service-page .fix-bl {
    clear: both;
    float: left;
}
.fix-bm, #service-page .fix-br {
    float: right;
}
.fix-br {
    float: right;
}
#service-page .fix-br {
    clear: none;
}
#service-page .fix-tl, #service-page .fix-tr, #service-page .fix-bl, #service-page .fix-br {
    position: relative;
    top: 0;
}
#internal .bannerMagento, #internal .bannerHybris, #internal .bannerDemandware, #internal .bannerWordpress, #internal .bannerDrupal, #internal .bannerCustom, #internal .banneriOS, #internal .bannerAndroid, #internal .bannerMobileWeb, #internal2 .bannerMarketing {
    height: 500px;
}
#internal .bannerMagento:before, #internal .bannerHybris:before, #internal .bannerDemandware:before, #internal .bannerWordpress:before, #internal .bannerDrupal:before, #internal .bannerCustom:before, #internal .banneriOS:before, #internal .bannerAndroid:before, #internal .bannerMobileWeb:before, #internal2 .bannerMarketing:before {
    display: none;
}
#internal2 .bannerMaintenancePlans, #internal2 .bannerE-Commerce, #internal2 .bannerCustomDevelopment {
    height: 450px;
}
#internal2 .banner .captionBanner {
    width: 400px;
}
#internal2 .banner.bannerE-Commerce .captionBanner {
    right: 0;
    top: 50px;
    width: 400px;
}
.bannerService {
    background: url("../images/services/slider-ourService.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 500px;
    position: relative;
    text-align: center;
}
.bannerService:before {
    display: none;
}
.bannerService:after {
    background: url("../images/services/ico-hand.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    content: "";
    height: 558px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    top: 157px;
    width: 799px;
}
#internal .bannerMagento:after {
    top: 170px;
}
#internal .bannerHybris:after {
    top: 170px;
}
#internal .bannerDemandware:after {
    top: 170px;
}
#internal .bannerWordpress:after {
    top: 170px;
}
#internal .bannerDrupal:after {
    top: 170px;
}
#internal .bannerCustom:after {
    top: 170px;
}
#internal .banneriOS:after {
    top: 170px;
}
#internal .bannerAndroid:after {
    top: 170px;
}
#internal .bannerMobileWeb:after {
    top: 170px;
}
#internal2 .bannerMarketing:after {
    top: 170px;
}
.Advantage-main .grid-2 {
    width: 310px;
}
.Advantage-Block .ico {
    float: none;
}
}
@media only screen and (max-width: 600px) {
.folio-detail h1 {padding-bottom:0;padding-top:10px;}
.slider-portFolio .slides li .caption-sl, .slider-portFolio .slides li .caption-sr {top:20%!important;}
.banner-main {
}
#internal .banner-main .bannerCaption, #internal2 .banner-main .bannerCaption {
    background: none repeat scroll 0 0 #000;
    position: relative;
}
.fix-tl, .fix-tr, .fix-bl, .fix-bm, .fix-br, #internal2 .fix-tl, #internal2 .fix-tr, #internal2 .fix-bl, #internal2 .fix-br {
    padding: 20px 0;
    position: inherit;
    width: 100%;
}
.fix-tl {
    clear: both;
    float: none;
}
.fix-tr {
    float: none;
}
.fix-bl {
    clear: both;
    float: none;
}
.fix-bm {
    float: none;
}
.fix-br {
    clear: both;
    float: none;
}
#internal2 .fix-br {
    clear: none;
    float: right;
}
#internal .bannerMagento, #internal .bannerHybris, #internal .bannerDemandware, #internal .bannerWordpress, #internal .bannerDrupal, #internal .bannerCustom, #internal .banneriOS, #internal .bannerAndroid, #internal .bannerMobileWeb, #internal2 .bannerMarketing {
    height: 500px;
}
#internal .bannerMagento:before, #internal .bannerHybris:before, #internal .bannerDemandware:before, #internal .bannerWordpress:before, #internal .bannerDrupal:before, #internal .bannerCustom:before, #internal .banneriOS:before, #internal .bannerAndroid:before, #internal .bannerMobileWeb:before, #internal2 .bannerMarketing:before {
    display: none;
}
#internal2 .bannerMaintenancePlans, #internal2 .bannerE-Commerce, #internal2 .bannerCustomDevelopment, #internal2 bannerMobileApp {
    height: 350px;
}
#internal2 h1 {
    font-size: 30px !important;
    line-height: 30px !important;
    padding: 20px 0 !important;
}
#internal2 .banner .captionBanner {
    max-width: 350px;
    width: 100%;
}
#internal2 .captionBanner {
}
#internal2 .banner.bannerE-Commerce .captionBanner {
    right: 0;
    top: 0;
}
.bannerService {
    background: url("../images/services/slider-ourService.jpg") no-repeat scroll 50% 0 / cover rgba(0, 0, 0, 0);
    color: #fff;
    height: 715px;
    position: relative;
    text-align: center;
}
.bannerService:after {
    display: none;
}
#internal .bannerMagento:after {
    top: 220px;
}
#internal .bannerHybris:after {
    top: 220px;
}
#internal .bannerDemandware:after {
    top: 220px;
}
#internal .bannerWordpress:after {
    top: 220px;
}
#internal .bannerDrupal:after {
    top: 220px;
}
#internal .bannerCustom:after {
    top: 220px;
}
#internal .banneriOS:after {
    top: 220px;
}
#internal .bannerAndroid:after {
    top: 220px;
}
#internal .bannerMobileWeb:after {
    top: 220px;
}
#internal2 .bannerMarketing:after {
    top: 220px;
}
.BreadcrumbInternal ul {
    font-size: 11px;
}
#internal .banner h2, #internal2 .banner h2 {
    font-size: 40px;
}
.Advantage-Block .ico {
    float: none;
}
.Advantage-main .grid-2 {
    padding: 20px 0;
    width: auto;
}
.Advantage-main .grid-2:nth-child(2n+1) {
    float: none;
}
.Advantage-main .grid-2:nth-child(2n) {
    float: none;
}
.Integrations-main .grid-3 {
    margin: 0;
}
#internal2 .banner.bannerE-Commerce .captionBanner {
    width: 300px;
}
.subTabs li {
    width: 29%;
}
}
@media only screen and (max-width: 1200px) {
    .holiday-featured .row{ margin: 0 auto; max-width: 740px;}
    .holiday-featured .cell{ max-width: 210px; margin-bottom: 20px;}
    .holiday-featured .cell:nth-child(4){ margin-left: 0;}

    .holiday-eCommerce .container{ padding: 85px 20px;}
    .holiday-eCommerce .topics_include li{ width: 34%; display: block; margin-bottom: 40px;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.slider-portFolio .slides li .item-sl{max-width:40%;}
	.slider-portFolio .slides li .item-sr{max-width:40%;}
	.holiday-banner .item-bner{}
    .holiday-banner .lgo-cpny li{ width: 16%; padding:  0 15px;}
    .holiday-banner strong{ display: block; margin-bottom: 30px;}

    .holiday-eCommerce .topics_include li{ width: 34%; display: block; margin-bottom: 40px;}
    .holiday-featured .row{ margin: 0 auto; max-width: 740px;}
    .holiday-featured .cell{ max-width: 210px; margin-bottom: 20px;}
    .holiday-featured .cell:nth-child(4){ margin: 0;}

    .holiday-banner h1 span{ display: block;}

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.container {
    margin: 0 20px;
}
.about-main .grid-2 {
    float: none;
    margin-bottom: 50px;
    width: auto;
}
.about-main .grid-2-1 {
    float: none;
    width: auto;
}
.ourClients .logoCompanies {
    margin: 0 auto;
    max-width: 630px;
}
.blogdetail-main {
    padding: 0 0 50px;
}
.blog-grid {
    float: none;
    margin: 30px auto;
    max-width: 728px;
}
.blog-grid li {
    display: block;
    width: 48%;
}
.subBlog {
    float: none;
    width: auto;
}
.blogdetail-container .detailPage {
    float: none;
    width: auto;
}
.contactInfo {
}
.contact-main .row {
    padding: 0;
}
.contact-main .grid-2 {
    float: left;
    width: 450px;
}
.contactForm label {
    display: block;
    width: auto;
}
.contact-main .grid-2 {
    float: left;
    width: auto;
}
.contact-main .grid-2-1 {
    float: right;
    width: 250px;
}
.stickySlide {
    position: static !important;
}
.contact-main .grid-2-1 .grid-3 {
    padding-bottom: 20px;
}
.contactForm input[type="text"], .contactForm input[type="tel"], .contactForm input[type="email"], .contactForm input[type="url"], .contactForm input[type="date"] {
    width: 438px;
}
.contactForm textarea {
    width: 438px;
}
.contactForm select {
    width: 449px;
}
.folio-main .container {
    margin: 0 !important;
}
#filterFolio .element {
    height: auto;
    width: 50%;
    text-align: center;
}
.folioList li .thumb {
    height: auto;
    width: 100%;
}
.folioList li h3 {
    font-size: 16px;
}
.ServicePopup {
    vertical-align: top;
    width: 178px;
}
.ServicePopup .current .tooltip {
    display: none;
}

}
@media only screen and (max-width: 767px){
    #homeVideo.bg_btnVideo a{
        width: 72px;
    }
    #homeVideo.bg_btnVideo a:before{
        border-top-width: 20px;
        border-bottom-width: 20px;    
        border-left-width: 20px;
        margin-top:-18px;
        margin-left:-6px;
    }
    .contactpage .container{ padding: 20px 0 0;}
    .contact-form{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .contactpage .panel-left, .contactpage .panel-right{ width: 100%;}
    .contactpage input, .contactpage textarea{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .contactpage .contact-info .col{ padding: 0; width: 100%; float: none; clear: both; margin: 0 0 30px;}
    #internal2 .banner.bannerCustomDevelopment .captionBanner { width: auto;}
    #internal2 .bannerCustomDevelopment{ background-position: 0 0;}
    #internal2 .bannerE-Commerce{ background-position: 100% 0;}
}
@media only screen and (max-width:568px){
    #homeVideo.bg_btnVideo a{
        width: 47px;
    }
    #homeVideo.bg_btnVideo a:before{
        border-top-width: 15px;
        border-bottom-width: 15px;    
        border-left-width: 15px;
        margin-top:-14px;
        margin-left:-5px;
    }
}
@media only screen and (max-width:568px){
    #homeVideo.bg_btnVideo a{
        width: 30px;
    }
    #homeVideo.bg_btnVideo a:before{
        border-top-width: 10px;
        border-bottom-width: 10px;    
        border-left-width: 10px;
        margin-top:-10px;
        margin-left:-3px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .content {
        padding: 69px 0 0;
    }
    .container {
        margin: 0 10px;
    }
    h1, h2 {
        font-size: 40px;
    }
    #ourClients .element {
        width: 100%;
    }
    .ourClients .logoCompanies li span {
        text-align: center;
        width: 300px;
        margin: 0 auto;
        display: block;
    }
    .about-main .grid-2 {
        float: none;
        margin-bottom: 50px;
        width: auto;
    }
    .about-main .grid-2-1 {
        float: none;
        width: auto;
    }
    .ourClients .logoCompanies {
        margin: 0 auto;
        max-width: 630px;
    }
    .snapShot {
        padding: 0;
    }
    .ourWork li {
        margin: 0 auto;
        width: 300px;
    }
    .ourWork li .thumb {
        height: auto;
        width: auto;
    }
    .ourWork li .thumb img {
        width: 100%;
    }
    .services {
        min-height: 450px;
    }
    .bannerService {
        height: 400px;
    }
    .bannerService h2 {
        padding: 50px 0 30px;
    }
    .services-main h1, .services-main h2 {
        padding: 60px 0;
    }
    #filterServices .element {
        width: 100%;
    }
    .services-main .grid-3 {
        margin: 0;
    }
    #carousel {
        display: none;
    }
    .ServicePopup {
        display: none;
    }
    .service-internal .container {
        margin: 0;
    }
    .service-internal .container h1 {
        margin: 0 10px;
    }
    .ServicePopup .current .tooltip {
        display: none;
    }
    .folio-main .tileFolio {
    }
    .folio-main .tileFolio h1 {
    }
    .folio-main h1 {
        padding: 25px 0 5px;
    }
    .folio-main .container {
        margin: 0 !important;
    }
    #carouselFolio {
        display: none;
    }
    .subFilter {
        display: none;
    }
    .folioList li {
        margin: 0 0 30px;
    }
    #filterFolio .element {
        height: auto;
        width: 100%;
    }
    .folioList li .thumb {
        height: auto;
        width: 300px;
        margin: 0 auto;
    }
    .folioList li h3{ min-height: 10px;}
    .blogdetail-main {
        padding: 0 0 50px;
    }
    .blog-grid {
        float: none;
        margin: 30px auto;
        max-width: 300px;
    }
    .blog-grid li {
        display: block;
        padding: 7px 0;
        width: 100%;
    }
    .subBlog {
        float: none;
        width: auto;
    }
    .blogdetail-container .detailPage {
        float: none;
        width: auto;
    }
    .contactInfo {
        padding: 0 0 20px;
    }
    .contact-main .row {
        padding: 0;
    }
    .contact-main .grid-2 {
        float: none;
        width: auto;
    }
    .contactForm label {
        display: block;
        width: auto;
    }
    .contact-main .grid-2 {
        float: none;
        width: auto;
    }
    .contact-main .grid-2-1 {
        float: none;
        width: auto;
    }
    .stickySlide {
        position: static !important;
    }
    .contact-main .grid-2-1 .grid-3 {
        padding-bottom: 20px;
    }
    .contactForm input[type="text"], .contactForm input[type="tel"], .contactForm input[type="email"], .contactForm input[type="url"], .contactForm input[type="date"] {
        width: 288px;
    }
    .contactForm textarea {
        width: 288px;
    }
    .contactForm select {
        width: 299px;
    }
    .internal-container .span2 {
        float: none;
        width: auto;
    }
    .internal-container .span2:last-child {
        float: none;
    }
    #filterInternal .element {
        height: auto;
        width: auto;
    }
    .internal-main .grid-3 {
        margin: 0;
    }
    .tabsInternal .right {
        float: none;
        width: auto;
    }
    .tabsInternal .right .tabsInternal-containner {
        border-bottom: 1px solid #bababa;
        border-left: medium none;
        padding: 0 0 20px;
    }
    .holiday-banner .container{ padding:  0 20px;}
    .holiday-banner h1{ font-size: 40px;}
    .holiday-banner h1 span{ display: block;}
    .holiday-banner .lgo-cpny li{ margin-bottom: 15px;}
    .holiday-banner strong{ display: block; margin-bottom: 30px; font-size: 22px; line-height: 24px;}
    .holiday-eCommerce .topics_include li{ padding: 0 10px 0 75px; min-height: 60px; width: auto; margin-bottom: 20px; float: none;}
    .holiday-eCommerce .topics_include li span{ font-family: arial; width: 60px; height: 60px; line-height: 60px; font-size: 40px;}

    .holiday-featured .row{ text-align: center;}
    .holiday-featured .cell{ display: inline-block; float: none; clear: both; max-width: 300px; margin: 0 0 20px;}
    .holiday-featured .cell:first-child{ margin: 0 0 20px;}

    .holiday-eCommerce .container h3, .holiday-eCommerce .container h3 span{ display: block; font-size: 40px; line-height: 40px;}
}

.internal-container h1{font-size:30px;margin-bottom:20px;line-height:36px;}
.internal-container h2{font-size:15px;font-weight:bold;}


/*--------*/
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800);
#campaign{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
#campaign hr{ margin: 0 0 30px;}
#campaign h1, #campaign h2, #campaign h3, #campaign h4, #campaign h5, #campaign h6{ font-weight: normal;}
#campaign .container{ max-width: 1280px;}
#campaign .banner{ background-image: url(../images/retargeting/banner.jpg); background-repeat: no-repeat; background-position: center bottom; background-size: cover; height: 580px;}
#campaign .banner .container{ max-width: 1200px;}
#campaign .banner .container .col-left{ width: 610px; float: left; text-align: center; padding: 60px 0 0;}
#campaign .banner .container .col-left h1{ color: #fff; font-size: 60px; line-height: 60px; margin: 0 0 30px; padding: 0 40px;}
#campaign .banner .container .col-right{ width: 450px; float: right; padding: 90px 0 0;}
#campaign .banner .container .col-right h3{ color: #fff; font-size: 30px; margin: 0 0 20px;}
#campaign fieldset, #campaign figure{ padding: 0; margin: 0; border: none;}
#campaign figure, #campaign .analystBlock p{ margin:  0 0 18px;}
#campaign input[type="text"], #campaign input[type="email"], #campaign input[type="tel"]{ background-color: #fff; height: 60px; padding: 0 10px; border: 1px solid #dbdbdb; -webkit-border-radius: 5px; border-radius: 5px; width: 100%; font-size: 15px;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
#campaign input[type="button"], #campaign input[type="submit"]{ background-color: #68bd45; border: none; width: 190px; height: 57px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 3px 0 #669933; box-shadow: 0 3px 0 #669933; text-transform: uppercase; font-size: 17px; color: #fff;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

#campaign .analystBlock{ padding: 30px 0;}
#campaign .analystBlock .container{ max-width: 1230px;}
#campaign .analystBlock h3{ font-size: 20px; text-align: center; font-weight: 700; text-transform: uppercase; margin: 0 0 20px;}
#campaign .analystBlock figure, #campaign .analystBlock p{ float: left; width: 28%; padding: 0 20px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#campaign .analystBlock figure.button-int{ width: 16%; float: right; padding: 0;}
#campaign .analystBlock p:nth-child(6){ width: 16%; float: right; padding: 0;}

#campaign .parallax { min-height: 316px; background: transparent; color: #fff; text-align: center; padding: 65px 0;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
#campaign .parallax .subscript{ font-size: 18px; position: relative; max-width: 1080px; margin: 0 auto 40px; padding: 0 50px; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;} 
#campaign .parallax .subscript:before, #campaign .parallax .subscript:after{ width: 35px; height: 51px; content: ''; display: block; position: absolute;}
#campaign .parallax .subscript:before{ background-image: url(../images/retargeting/quote-symbol-left.png); left: 0; top: -20px;}
#campaign .parallax .subscript:after{ background-image: url(../images/retargeting/quote-symbol-right.png); right: 0; bottom:0;}
#campaign .parallax .nametxt{ font-size: 22px; font-weight: 700; text-transform: uppercase; position: relative; padding: 20px 0 0;}
#campaign .parallax .nametxt:before{ background-color: #fff; width: 94px; height: 2px; content: ''; position: absolute; left: 50%; top: 0; margin-left: -47px; display: block;}

#campaign .llcBlock{ background-color: #f7f7f7; padding: 40px 0; display: block;}
#campaign .llcBlock ul{ list-style: none; font-size: 0; text-align: center;}
#campaign .llcBlock ul li{ display: inline-block; margin: 0 30px;}

#campaign .chartBlock{ padding: 80px 0 60px; overflow: hidden;}
#campaign .chartBlock .subscript{ max-width: 1000px; text-align: center; margin: 0 auto 60px;}
#campaign .chart-info{ text-align: center; font-size: 0;}
#campaign .chart-info .cell{ text-align: center; width: 20%; font-size: 18px; text-transform: uppercase; display: inline-block;}
#campaign .chart-info .cell .circle{ padding: 34px 0 0; width: 150px; height: 150px; margin: 0 auto 10px; -webkit-border-radius: 50%; border-radius: 50%; border: 2px solid #b0b1b1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
#campaign .chart-info .cell .circle .num{ display: block; font-weight: 700; color: #9a9a9a; padding: 10px 0 0;}

#campaign .analystForm{ padding: 60px 0; background-color: #f2f2f2; overflow: hidden;}
#campaign .analystForm .container{ max-width: 870px;}
#campaign .analystForm .col-left{ width: 350px; float: left; text-align: right;}
#campaign .analystForm .col-right{ width: 450px; float: right;}
#campaign .analystForm .col-right p{ margin: 0 0 18px;}

#campaign .analystForm .col-left h1{ font-size: 55px; line-height: 55px; font-weight: 500; text-transform: uppercase; margin: 0 0 50px;}
#campaign .analystForm .col-left p{ line-height: 150%; font-size: 18px;}
#campaign .analystForm .col-left h1 span{ display: block; font-size: 40px; line-height: 40px; font-weight: 300; text-transform: none;}
#campaign .analystForm .col-left h1 strong{ font-weight: 700; font-size: 75px; line-height: 75px;}

#campaign .everythingBlock{ background-color: #f7f7f7; padding: 50px 0; overflow: hidden;}
#campaign .everythingBlock .container{ max-width: 1260px;}
#campaign .everythingBlock h1.title{ font-size: 50px; line-height: 50px; text-transform: uppercase; text-align: center; margin: 0 0 30px;}
#campaign .everythingBlock .col{ font-size: 15px; float: left; width: 40%; border-left: 1px solid #a8a8a8; padding: 0 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#campaign .everythingBlock .col:nth-child(1){ width: 36%; padding:  0 25px 0 0; border: none;}
#campaign .everythingBlock .col:nth-child(2){ width: 24%;}
#campaign .everythingBlock .col:nth-child(3){ width: 40%; padding: 0 0 0 25px;}
#campaign .everythingBlock .col h3{ text-transform: uppercase; text-align: left; font-weight: 700; font-size: 15px; margin: 0 0 20px;}
#campaign .everythingBlock li{ width: 50%; float: left; background-image: url(../images/retargeting/ico-style.png); background-position: 0 5px; background-repeat: no-repeat; padding: 0 10px 0 20px; white-space: nowrap; box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

@media only screen and (max-width:1200px){
	#campaign .banner .container .col-left{ width: 56%;}
	#campaign .banner .container .col-right{ width: 40%;}
	#campaign .everythingBlock li{ float: none; width: 100%;}
	#campaign .everythingBlock .col{ width: 33.3334%!important;}
	#campaign .banner .container .col-left h1{ font-size: 42px; line-height: 42px;}

	#campaign .analystBlock p{ width: 100%!important; float: none; clear: both;}

	#campaign .llcBlock ul li{ width: 33.3334%; margin: 0 0 10px;}
	#campaign .chart-info .cell{ width: 33.3334%; margin: 0 0 20px;}
	#campaign .analystForm .col-left{ width: 50%;}
	#campaign .analystForm .col-right{ width: 44%;}
}
@media only screen and (max-width:767px){
	#campaign .banner{ height: 400px;}
	#campaign .banner .container .col-left{ width: 100%; max-width:400px; margin: 0 auto; float: none;}
	#campaign .banner .container .col-right{ display: none;}
	#campaign .banner .container .col-left h1{ font-size: 28px; line-height: 28px;}

	#campaign .everythingBlock h1.title{ font-size: 28px; line-height: 28px;}
	#campaign .everythingBlock .col{ width: 100%!important; border: none; border-top: 1px solid #a8a8a8; padding: 20px 0!important; margin: 0;}

	#campaign .llcBlock ul li{ width: 100%;}
	#campaign .chart-info .cell{ width: 100%;}

	#campaign .analystForm .col-left{ width: 100%;}
	#campaign .analystForm .col-right{ width: 100%;}

	#campaign .analystForm .col-left h1{ font-size: 45px; line-height: 45px; margin: 0 0 40px;}
#campaign .analystForm .col-left p{ line-height: 150%; font-size: 18px;}
#campaign .analystForm .col-left h1 span{ font-size: 30px; line-height: 30px;}
#campaign .analystForm .col-left h1 strong{ font-size: 65px; line-height: 65px;}
}











