
        <div>
            <div class="adM">
            </div>
            <table width="800">
                <tbody>
                    <tr>
                        <td style="background-color:#ed253c;padding:5px;padding-bottom:10px">
                            <table style="background-color:#fff" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding:10px" width="50%" valign="middle" align="left">
                                                            <table width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="5%">
                                                                            <table cellspacing="0" cellpadding="0" border="0" width="40">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="25">&nbsp;</td>
                                                                                        <td style="background-color:#ed253c" width="25">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="background-color:#34495e">&nbsp;</td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="95%" valign="bottom" align="left">
                                                                        <a href="http://www.bdkernel.com" target="_blank"><img src="http://www.bdkernel.com/images/sample/bdkernellogo.png" width="150px"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top:50px;padding-left:50px; padding-right: 50px; text-align: justify;" align="left"><b>Dear Patrick Mc Daniel,</b>
                                            <br>
                                            <br>Greetings from BDKERNEL Software Firm!
                                            <br>
                                            <br>
                                            	We have gone through your profile and made a <a href="http://demo.bdkernel.com/patrickmcdaniel/index.php" target="_blank"><b>demo</b></a> personal website for you. This website is responsive, that means it can be used  through all smart phone and laptop device.
                                            	<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:50px; padding-right: 50px; text-align: justify; padding-right: 50px" align="left">
                                            <br>Our services at a glance:
                                            <br><br>
                                             <table>
                                            	
												<tr>
													<td style="vertical-align: top;">&nbsp;&nbsp;&bull;</td>
													<td style="text-align: justify; padding-bottom:10px">
														We are offering Personal Website Development services at modest rate. 
													</td>
												</tr>
												<tr>
													<td style="vertical-align: top;">&nbsp;&nbsp;&bull;</td>
													<td style="text-align: justify; padding-bottom:10px">
														We are providing here 1 year free supports.
													</td>
												</tr>
												<tr>
													<td style="vertical-align: top;">&nbsp;&nbsp;&bull;</td>
													<td style="text-align: justify; padding-bottom:10px">	You can pay us with paypal.
													</td>
												</tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:50px;padding-top:10px;padding-bottom:10px;padding-right: 50px; text-align: justify;">
                                        	We have also attached screen shot of your demo website. If you are interested, please share your proper requirements and CV so we could send you best proposal accordingly. 
                                            <br>

                                            <br>
                                            <br>Regards,
                                            <br>
                                            <b>Tushar K. Ghosh</b><br>
                                            <font size="2">Online Sales Manager, BDKERNEL</font>
                                            <br>
                                            <br>
                                            <font size="1"> 

                                            <br>
                                             <strong>Why you need personal website,</strong> visit: 
                                             <a href="http://bdkernel.com/personal-website.php" target="_blank">http://bdkernel.com/personal-website.php</a>
                                            <br>We are available 24/7/365 for any query. please mail us <a href="mailto:info@bdkernel.com" target="_blank">info@bdkernel.com</a>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:50px;padding-top:10px;padding-bottom:10px; padding-right: 50px; text-align: justify;">
                                            <strong>Note: </strong> 
                                             <font size="1"> 
                                            This demo website data has been collected from online sources. If you are not interested to make a website, then we will remove this data and information from our server. 
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:50px;padding-top:10px;padding-bottom:10px; padding-right: 50px; text-align: justify;">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%" align="center">
                                                        	<a href="http://demo.bdkernel.com/patrickmcdaniel" target="_blank"> <img src="http://demo.bdkernel.com/patrickmcdaniel/image/patric.png" class="CToWUd" width="680px"/> </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>

